@include theme {
  .pl-carousel {
    position: relative;

    &:not(.pl-carousel-vertical) {
      overflow-x: hidden;
    }

    .pl-carousel-item, .pl-carousel-cover, .pl-carousel-operator, .pl-carousel-indicator {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;

      &.pl-carousel-cover, &.pl-carousel-operator, &.pl-carousel-indicator {
        z-index: 99;
      }
    }

    .pl-carousel-item {
      &.pl-carousel-item-animating {
        transition: transform $transition 800ms;
      }

      pointer-events: auto;
    }

    .pl-carousel-cover {
      pointer-events: auto;
    }

    .pl-carousel-operator {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      .pl-carousel-operator-btn {
        transition: background-color 300ms linear;
        cursor: pointer;
        pointer-events: auto;
        background-color: rgba(white, 0.3);
        width: 36px;
        height: 36px;
        border-radius: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        user-select: none;

        &:hover:not(:active) {
          background-color: rgba(white, 0.6);
        }
      }
    }

    .pl-carousel-indicator {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 20px;
      flex-wrap: nowrap;

      .pl-carousel-indicator-item {
        pointer-events: auto;
        width: 20px;
        height: 3px;
        background-color: white;
        opacity: 0.3;
        transition: all 200ms linear;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 8px;
        }

        &.pl-carousel-indicator-item-active {
          opacity: 1;
          width: 30px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &.pl-carousel-vertical {
      overflow-y: hidden;

      .pl-carousel-operator {
        flex-direction: column;
        padding: 20px;
        align-items: flex-end;

        .pl-carousel-operator-btn:nth-child(1) {
          transform: rotate(90deg);
        }

        .pl-carousel-operator-btn:nth-child(2) {
          transform: rotate(90deg);
        }
      }

      .pl-carousel-indicator {
        flex-direction: column;
        padding: 20px 36px;

        .pl-carousel-indicator-item {
          height: 8px;
          width: 3px;
          margin-right: 0;

          &.pl-carousel-indicator-item-active {
            height: 16px;
          }

          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }

    &.pl-carousel-card {
      .pl-carousel-item {
        right: initial;
      }

      .pl-carousel-indicator {
        .pl-carousel-indicator-item {
          background-color: rgba(black, 0.5);
        }
      }
    }
  }
}