@include theme {
  .pl-alert {
    position: relative;
    padding: 8px 16px;
    border-radius: 2px;

    .pl-alert-label {
      font-size: 13px;
    }

    .pl-alert-desc {
      font-size: 12px;
      margin-top: 4px;
    }

    .pl-alert-icon {
      font-size: 1.2em;
    }

    &.pl-alert-has-close {
      $close-width: 44px;
      position: relative;
      padding-right: $close-width;

      .pl-alert-close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $close-width;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.pl-alert-has-desc {
      .pl-alert-label {
        font-weight: 600;
      }

      .pl-alert-icon {
        font-size: 28px;
      }
    }

    &.pl-alert-has-icon {
      &:not(.pl-alert-has-desc) {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .pl-alert-icon {
          margin-right: 8px;
        }
      }

      &.pl-alert-has-desc {
        $icon-width: 56px;
        position: relative;
        padding-left: $icon-width;

        .pl-alert-icon {
          position: absolute;
          width: $icon-width;
          left: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &.pl-alert-theme-lite {
      @include statusMixin(alert) {
        background-color: rgba($value, 0.1);
        color: $value;
      }
    }

    &.pl-alert-theme-deep {
      @include statusMixin(alert) {
        background-color: $value;
        color: white;
      }
    }
  }
}