@include theme {
  $icon-width-large: 56px;
  $icon-width-normal: 32px;

  .pl-alert {
    position: relative;
    border-radius: 2px;
    padding: 8px 16px;

    .pl-alert-label {
      font-size: 13px;
    }

    .pl-alert-desc {
      font-size: 12px;
      margin-top: 4px;
    }

    &.pl-alert-has-icon {
      padding-left: $icon-width-normal;

      .pl-alert-icon {
        font-size: 1.2em;
        position: absolute;
        width: $icon-width-normal;
        left: 0;
        top: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.pl-alert-has-close {
      $close-width: 44px;
      position: relative;
      padding-right: $close-width;

      .pl-alert-close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $close-width;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    &.pl-alert-has-desc {
      .pl-alert-label {
        font-weight: 600;
      }

      .pl-alert-icon {
        font-size: 28px;
      }

      &.pl-alert-align-left {
        .pl-alert-label, .pl-alert-desc {
          text-align: left
        }
      }

      &.pl-alert-align-center {
        .pl-alert-label, .pl-alert-desc {
          text-align: center
        }
      }

      &.pl-alert-align-right {
        .pl-alert-label, .pl-alert-desc {
          text-align: right
        }
      }
    }

    &:not(.pl-alert-has-desc) {
      &.pl-alert-align-left {
        text-align: left
      }

      &.pl-alert-align-center {
        text-align: center
      }

      &.pl-alert-align-right {
        text-align: right
      }
    }

    &.pl-alert-has-icon {
      &:not(.pl-alert-has-desc) {
        .pl-alert-label {
          display: inline-block;
        }
      }

      &.pl-alert-has-desc {
        padding-left: $icon-width-large;

        .pl-alert-icon {
          width: $icon-width-large;
        }
      }
    }

    /*---------------------------------------theme-------------------------------------------*/

    &.pl-alert-theme-lite {
      @include statusMixin(alert) {
        background-color: rgba($value, 0.1);
        color: $value;
        .pl-alert-close {
          &:hover {
            background-color: rgba($value, 0.2);
          }
        }
      }
    }

    &.pl-alert-theme-deep {
      @include statusMixin(alert) {
        background-color: $value;
        color: white;
        .pl-alert-close {
          &:hover {
            background-color: mix($value, black, 90%);
          }
        }
      }
    }
  }
}