.demo-layout {
    .demo-row .demo-row-body > * {
        margin-right: 0 !important;
    }
}

@include theme {
    .ct-cls {
        background-color: #f2f2f2;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }

    .pl-row {
        .pl-col:nth-child(odd) {
            .ct-cls {
                background-color: #e2e2e2;
            }
        }
    }
}