@include theme {

    .doc-theme-font-color-item {
        display: inline-block;
        width: 150px;
        margin-right: 8px;

        &, & > * {
            box-sizing: border-box;
        }

        div:first-child {
            padding: 12px 20px;
            font-size: 18px;
            border: solid 1px $ibl;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        div:last-child {
            background-color: $ibl;
            padding: 12px 20px;
            color: $itl;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    /*文字颜色*/
    .doc-theme-font-color-list {
    }
    /*背景色*/
    .doc-theme-background-status {
        .doc-theme-font-color-item {
            width: 180px;
            border-radius: 4px;

            div:first-child {
                border: none;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                & > span:last-child {
                    font-size: 12px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            div:last-child {
                background-color: transparent;
                position: relative;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 50%;
                    bottom: 0;
                    background-color: rgba(white, 0.5);
                    content: '';
                }

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 50%;
                    bottom: 0;
                    background-color: rgba(white, 0.85);
                    content: '';
                }
            }
        }
    }
    /*禁用色*/
    .doc-theme-background-disabled {
        .doc-theme-font-color-item {
            &:not(:last-child) {
                border: solid 1px $ibc;
            }

            & > div {
                & > span:first-child {
                    color: $ihc;
                }

                & > span:last-child {
                    color: $itc;
                }
            }
        }
    }

    .pl-block {
        height: 40px;
        width: 90px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 16px;

        @include statusMixin(block) {
            background-color: $value;
            box-shadow: 0 16px 46px 0 rgba($value, 0.5);
        }
        @include shapeMixin(block) {
            border-radius: $value;
        }

        &.pl-block-default {
            cursor: pointer;
            background-color: #12b4a5;
            box-shadow: 0 16px 46px 0 rgba(#12b4a5, 0.5);
        }

        &.pl-block-blue {
            cursor: pointer;
            background-color: #3E97EC;
            box-shadow: 0 16px 46px 0 rgba(#3E97EC, 0.5);
        }

        &.pl-block-violet {
            cursor: pointer;
            background-color: blueviolet;
            box-shadow: 0 16px 46px 0 rgba(blueviolet, 0.5);
        }
    }
}