@include theme {
  $tableHeadColor: rgba(0, 0, 0, .85);
  $tableHeadBackground: #f9f9f9;
  $tableHeadHoverBackground: #e4e7ef;
  $tableHeadBorderColor: #f0f0f0;

  $tableBodyColor: rgba(0, 0, 0, 0.85);

  $tableRowHoverBackground: #f5f7fa;
  $tableRowCurrentBackground: mix($colorPrimary, white, 7.5%);

  $scrollbarSize: 12px;
  /*---------------------------------------scroll-------------------------------------------*/
  .pl-table, .pl-virtual-table {
    position: relative;

    .pl-scroll {
      .pl-scroll-content {
        min-width: 100%;
      }

      .pl-vertical-scrollbar-wrapper, .pl-horizontal-scrollbar-wrapper {
        z-index: 10;
      }
    }

    &:hover {
      .pl-scroll {
        & > .pl-horizontal-scrollbar-wrapper, & > .pl-vertical-scrollbar-wrapper {
          .pl-vertical-scrollbar, .pl-horizontal-scrollbar {
            opacity: 1;
          }
        }
      }
    }
  }
  /*---------------------------------------虚拟表格-------------------------------------------*/
  .pl-virtual-table {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .pl-virtual-table-summary-table-wrapper {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 5;

      & > table {
        &:after {
          content: '';
          display: block;
          height: $scrollbarSize;
          width: 1px;
        }
      }

      &:after {
        position: absolute;
        bottom: 0;
        height: $scrollbarSize;
        left: 0;
        content: "";
        background-color: #f5f7fa;
        z-index: 3;
        width: 5000px;
      }

      .pl-virtual-table-summary-table {
        pointer-events: auto;
        position: absolute;
        left: 0;

        td {
          background-color: $tableHeadBackground;
        }
      }
    }
  }
  /*---------------------------------------basic-------------------------------------------*/
  table {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    table-layout: fixed;
    /**
     * table一直都是有个最小宽度100%。
     * 当总列宽小于表格宽度时，table没有具体width宽度，fit列不设置库宽度，使其自适应宽度；
     * 当总列宽大于表格宽度时，table设置具体的width宽度，fit值无效，以列具体宽度为准；
     */
    //min-width: 100%;  // 不能设置min-width，当文字过长的时候，会自动撑开列宽，导致表头与表体错位
    width: 100%;

    tr {
      td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        position: relative;
        padding: 1px 11px;
      }
    }
  }
  /*---------------------------------------collector-------------------------------------------*/
  .plc-collector {
    display: none;
  }
  /*---------------------------------------no data-------------------------------------------*/
  .pl-table-no-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  /*---------------------------------------head-------------------------------------------*/
  .plt-head {
    td {
      background-color: $tableHeadBackground;
      color: $tableHeadColor;

      &:hover {
        background-color: $tableHeadHoverBackground;
      }

      .plt-head-cell-indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        height: inherit;
        width: 6px;
        right: 0;
        content: '';
        background-color: rgba(black, 0.1);
        cursor: ew-resize;
        opacity: 0;
        transition: opacity 500ms $transition;
        z-index: 1;
      }

      .plt-head-cell-sorter {
        position: absolute;
        right: 4px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .plt-head-cell-sorter-inner {
          display: flex;
          flex-direction: column;
          color: rgba(black, 0.4);

          .pl-icon:first-child {
            position: relative;
            top: 3px;
          }

          .pl-icon:last-child {
            position: relative;
            bottom: 3px;
          }
        }

        &.plt-head-cell-sorter-asc {
          .plt-head-cell-sorter-inner {
            .pl-icon:first-child {
              color: rgba(black, 0.8);
            }
          }
        }

        &.plt-head-cell-sorter-desc {
          .plt-head-cell-sorter-inner {
            .pl-icon:last-child {
              color: rgba(black, 0.8);
            }
          }
        }
      }
    }
  }
  /*---------------------------------------body-------------------------------------------*/
  .plt-body {
    tr {
      td {
        transition: background-color 150ms linear;
        background-color: white;
        color: $tableBodyColor;
      }
    }
  }
  /*---------------------------------------row-------------------------------------------*/
  .plt-row {
    border-bottom: solid 1px $tableHeadBorderColor;

    &:hover {
      td {
        background-color: $tableRowHoverBackground;
      }
    }

    &.plt-row-current {
      &, &:hover {
        td {
          background-color: $tableRowCurrentBackground;
        }
      }
    }
  }
  .plt-head {
    tr {
      border-bottom: solid 1px $tableHeadBorderColor;
      border-top: solid 1px $tableHeadBorderColor;
    }
  }
  .plt-body {
    .pl-virtual-table-summary-table-wrapper {
      & > table {
        border-top: solid 1px $tableHeadBorderColor;
      }
    }
  }
  /*---------------------------------------cell-------------------------------------------*/
  .plt-cell {
    text-align: left;

    &.plt-cell-align-center {
      text-align: center;
    }

    &.plt-cell-align-right {
      text-align: right;
    }

    &.plt-cell-no-padding {
      padding: 0;
    }

    &.plt-cell-editing {
      &:not(.plt-cell-add-edit-padding) {
        padding-left: 0;
      }
    }

    &.plt-cell-link {
      color: $colorPrimary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  /*---------------------------------------border-------------------------------------------*/
  .pl-table {

    &.pl-table-border {
      tr {
        td {
          border-right: solid 1px $tableHeadBorderColor;
          border-left: solid 1px $tableHeadBorderColor;
        }
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background-color: transparent;
        border: solid 0.5px $tableHeadBorderColor;
        content: '';
        z-index: 5;
        pointer-events: none;
      }
    }

    &.pl-table-stripe {
      .plt-body {
        .pl-virtual-list-content {
          table {
            tr:nth-child(odd):not(:hover):not(.plt-row-current) {
              td {
                background-color: #f2f5ff;
              }
            }
          }
        }
      }
    }
  }
  /*---------------------------------------size-------------------------------------------*/
  .pl-table {
    &.pl-table-size-large {
      .plt-cell {
        font-size: 16px;
      }
    }

    &.pl-table-size-normal {
      .plt-cell {
        font-size: 14px;
      }
    }

    &.pl-table-size-mini {
      .plt-cell {
        font-size: 12px;
      }
    }
  }
  /*---------------------------------------shadow-------------------------------------------*/
  .pl-table {
    &, &.pl-table-border {

      .plt-cell-last-fixed-left, .plt-cell-first-fixed-right {

        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 3px;
          pointer-events: none;
          content: '';
          z-index: 4;
          background-color: transparent;

          left: initial;
          right: initial;
          transform: none;
        }

        &.plt-cell-last-fixed-left {
          &:before {
            right: 0;
            box-shadow: inset 10px 0 10px -10px mix(black, $boxshadowColor, 10%);
          }
        }

        &.plt-cell-first-fixed-right {
          &:before {
            left: 0;
            box-shadow: inset -10px 0 10px -10px mix(black, $boxshadowColor, 10%);
          }
        }
      }
    }

    &.plt-table-hide-fixed-left .plt-cell-last-fixed-left, &.plt-table-hide-fixed-right .plt-cell-first-fixed-right {
      &:before {
        display: none;
      }
    }
  }
  /*---------------------------------------standard-------------------------------------------*/
  /*plc-index*/
  .plc-index-summary-text {
    font-size: 12px;
  }
  /*!*icon*!
  .plt-cell {
    & > .pl-icon {
      vertical-align: -0.3em;

      & + * {
        margin-left: 4px;
      }
    }
  }*/
  /*input*/
  .plt-cell {
    & > * {
      vertical-align: middle;
    }

    & > .pl-input {
      width: 100%;

      & > .pl-input-inner {
        width: inherit !important;

        & > .pl-input-custom-inner {
          & > input {
            width: 100% !important;
          }
        }
      }
    }
  }
  /*plc-expand*/
  .plt-row {
    &.plt-expand-row {
      td {
        background-color: white;
        z-index: 5;
        white-space: normal;
        padding: 0;
        overflow: unset;
      }

      .plt-expand-body {
        padding: 16px;
        box-sizing: border-box;
        position: sticky;
        left: 0;

        & > .pl-form {
          padding: 0;
        }
      }
    }

    .plc-expand-icon {
      .pl-icon {
        @include transition;
        transition-property: transform;
      }

      &.plc-expand-icon-active {
        .pl-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }
  /*plc-draggier*/
  .pl-button.plc-draggier-handler {
    cursor: move;
  }
  /*col draggier*/
  .plt-col-draggier-indicator {
    &[droppable="true"] {
      background-color: $colorPrimary;
    }

    &[droppable="false"] {
      background-color: $colorError;
    }
  }
  /*plc-tree*/
  .plc-tree-node {
    white-space: nowrap;

    & > * {
      display: inline-block;
      height: 100%;
    }

    .plc-tree-node-expander, .plc-tree-node-check {
      width: 30px;
      text-align: center;
    }
  }
  .plc-tree-node-content {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    box-sizing: border-box;
  }
}
