@mixin transition-all {
  transition: all 0.15s;
}

@mixin transition-all-cubic-bezier {
  transition: all 1s cubic-bezier(.28, 1.03, 0, .99);
}

@mixin public-style {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: 400;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color #999;
  }
}