@include theme {
  .pl-message-container {
    position: fixed;
    z-index: 9999;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    pointer-events: none;

    .pl-list {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .pl-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    @each $horizontal in (start, center, end) {
      @each $vertical in (start, center, end) {
        &.pl-message-container-#{$horizontal}-#{$vertical} {
          .pl-list {
            @if $horizontal == center {
              align-items: center;
            } @else {
              align-items: flex-#{$horizontal};
            }
            @if $vertical == center {
              justify-content: center;
            } @else {
              justify-content: flex-#{$vertical};
            }
          }
        }
      }
    }

  }
  .pl-message-item {
    @include public-style;
    padding: 12px 20px;
    white-space: nowrap;
    border-radius: 2px;
    border: solid 1px;
    pointer-events: auto;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .pl-message-item-content {
      max-width: 600px;
      white-space: pre-wrap;
      word-break: break-word;

      & > * {
        vertical-align: middle;
      }
    }

    .pl-message-item-icon {
      margin-right: 0.5em;
    }

    .pl-message-item-close {
      margin-left: 0.5em;
      cursor: pointer;
    }

    @include statusMixin(message-item) {
      background-color: mix(white, $value, 90%);
      border-color: mix(white, $value, 70%);
      color: $value;
    }

    &.pl-message-item-status-black {
      background-color: #383838;
      border-color: #383838;
      color: white;
    }

    &.pl-message-item-status-white {
      background-color: white;
      border-color: #ddd;
      color: $itc;
    }
  }
}