@include theme {
  .pl-select-panel {
    padding: 3px 0;

    .pl-select-panel-empty-text {
      color: $disabledText;
      font-size: 12px;
      padding: 12px 0;
      text-align: center;
    }

    .pl-select-group {
      position: relative;

      &.pl-select-group-show {
        padding: 6px 0;

        &:not(:last-child) {
          &:after {
            position: absolute;
            height: 1px;
            left: 12px;
            right: 12px;
            bottom: 0;
            content: '';
            background-color: $ibc;
          }
        }
      }

      .pl-select-group-label {
        color: $disabledText;
        font-size: 12px;
        padding: 3px 12px;
      }
    }

    .pl-select-option {
      color: $itc;
      @include transition;

      .pl-select-option-icon {
        color: $icc;
        margin-right: 6px;
      }

      &:hover {
        background-color: $disabled;
        cursor: pointer;
      }

      &.pl-select-option-show {
        padding: 6px 12px;
      }

      &.pl-select-option-highlight {
        background-color: $disabled;
      }
    }

    .pl-select-panel-debug {
      color: #12b4a5;
    }

    &:not(.pl-select-panel-multiple) {
      .pl-select-option {
        &.pl-select-option-selected {
          background-color: $colorPrimary;
          color: white;

          .pl-select-option-icon {
            color: inherit;
          }
        }
      }
    }

    &.pl-select-panel-multiple {
      .pl-select-option {
        .pl-select-option-checkbox {
          margin-right: 6px;
        }

        &.pl-select-option-selected {
          background-color: $colorPrimaryLight;
          color: $colorPrimary;
        }
      }
    }

    .pl-select-option {
      &.pl-select-option-disabled {
        color: $disabledText !important;
        cursor: not-allowed;
      }
    }
  }
}