@include theme {

  .pl-select-panel {

    .pl-select-panel-empty-text {
      color: $disabledText;
      font-size: 12px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .pl-icon {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }

    &.pl-select-panel-multiple {
      .pl-select-option {
        .pl-select-option-checkbox {
          margin-right: 6px;
        }

        &.pl-select-option-selected {
          background-color: $colorPrimaryLight;
          color: $colorPrimary;
        }
      }
    }
  }

  .pl-select-option {

    &.pl-select-option-show {
      padding: 5px 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $itc;
      background-color: white;
      transition: background-color linear 200ms;
    }

    &.pl-select-option-group-child {
      padding-left: 28px;
    }

    &.pl-select-group {
      font-size: 12px;
      color: $colorPrimary;
      padding: 0 12px;
      margin: 4px 0;

      .pl-icon {
        margin-right: 6px;
      }
    }

    .pl-select-option-icon {
      margin-right: 6px;
      opacity: 0.5;
    }

    &:hover, &.pl-select-option-highlight {
      text-decoration: underline;

      &:not(.pl-select-option-disabled):not(.pl-select-group):not(.pl-select-option-selected) {
        background-color: #f2f2f2;
        cursor: pointer;
      }
    }

    &.pl-select-option-disabled {
      color: $disabledText;
      cursor: not-allowed;
    }

    &.pl-select-option-selected {
      background-color: rgba($colorPrimary, 0.1);
      color: $colorPrimary;
    }

  }

}