@include theme {
  .pl-select-panel {
    .pl-select-group {
      padding: 6px 0;
      position: relative;

      &:after {
        position: absolute;
        height: 1px;
        left: 12px;
        right: 12px;
        bottom: 0;
        content: '';
        background-color: $ibc;
      }

      .pl-select-group-label {
        color: $disabledText;
        font-size: 12px;
        padding: 3px 12px;
      }

      .pl-select-option {
        padding: 6px 12px;
        color: $itc;

        &:hover {
          background-color: $disabled;
          cursor: pointer;
        }
      }

    }

    .pl-select-panel-debug {
      color: #12b4a5;
    }
  }
}