@include theme {
  $tableHeadColor: rgba(0, 0, 0, 0.85);
  $tableHeadBackground: #f5f7fa;
  $tableHeadHoverBackground: #e4e7ef;
  $tableHeadBorder: solid 1px #f0f0f0;

  $tableBodyBorder: solid 1px #f0f0f0;
  $tableBodyColor: rgba(0, 0, 0, 0.65);

  $tableRowHoverBackground: #f5f7fa;
  $tableRowCurrentBackground: rgba($colorPrimary, 0.075);

  .pl-table {

    font-size: 12px;

    table {
      border-collapse: collapse;
      table-layout: auto;
      display: table !important;
    }

    .pl-vertical-scrollbar {
      z-index: 1;
      opacity: 1 !important;
    }

    .pl-horizontal-scrollbar {
      z-index: 3;
      opacity: 1 !important;
    }

    .pl-table-item-fixed-right, .pl-table-item-fixed-left {
      position: absolute;
      top: 0;
      box-shadow: 0 2px 8px #dedede;
      z-index: 2;

      &.pl-table-item-fixed-left {
        left: 0;
      }

      &.pl-table-item-fixed-right {
        right: 0;
      }
    }


    .plt-head {
      color: $tableHeadColor;
      position: relative;
      overflow: hidden;

      & > .pl-scroll {
        .pl-scroll-content {
          overflow-x: hidden;
        }
      }

      .plt-head-item {
        background-color: $tableHeadBackground;
        height: 100%;

        & > table {
          height: 100%;
        }

        .plt-head-cell {
          transition: background-color 500ms $transition;
          font-weight: 400;
          position: relative;
          border-bottom: $tableHeadBorder;
          box-sizing: border-box;

          .plt-head-cell-indicator {
            position: absolute;
            top: 0;
            height: inherit;
            width: 6px;
            right: 0;
            content: '';
            background-color: rgba(black, 0.1);
            cursor: ew-resize;
            opacity: 0;
            transition: opacity 500ms $transition;
            z-index: 1;
          }

          &:hover {
            background-color: $tableHeadHoverBackground;
            cursor: pointer;

            .plt-head-cell-indicator {
              opacity: 1;
            }
          }
        }
      }

      &.plt-head-border {
        box-sizing: border-box;
        border-top: $tableHeadBorder;
        border-left: $tableHeadBorder;

        .plt-head-cell {
          border-right: $tableHeadBorder;
        }
      }
    }

    .plt-body {
      color: $tableBodyColor;
      position: relative;
      overflow: hidden;

      .plt-body-item {
        height: 100%;
        width: 100%;
        background-color: white;

        .plt-body-cell {
          border-bottom: $tableBodyBorder;
        }

        .plt-row {
          transition: all 500ms $transition;

          &:not(.plt-row-current) {
            &.plt-row-hover, &:hover {
              background-color: $tableRowHoverBackground;
            }
          }

        }
      }
    }

    .plt-cell {
      padding: 0 8px;
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & > .pl-input {
        width: 100%;

        & > .pl-input-inner {
          width: inherit !important;
        }
      }

      &:after {
        content: '';
      }

      &.plt-cell-align-left {
        justify-content: flex-start;
      }

      &.plt-cell-align-center {
        justify-content: center;
      }

      &.plt-cell-align-right {
        justify-content: flex-end;
      }

      &.plt-cell-editing {
        &:not(.plt-cell-add-edit-padding) {
          padding-left: 0;
        }
      }
    }

    &.pl-table-border {
      .plt-body {
        border-left: $tableBodyBorder;
        border-bottom: $tableBodyBorder;

        .plt-cell {
          border-right: $tableBodyBorder
        }
      }
    }

    &:not(.pl-table-disabled-high-current) {
      .plt-row-current {
        background-color: $tableRowCurrentBackground;
      }
    }

  }

  .pl-virtual-table {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    table {

      &:after {
        content: '';
        display: inline-block;
        height: 12px;
        width: 100%;
      }
    }

    .pl-virtual-table-summary-table {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $tableHeadBackground;
    }
  }
}