@include theme {
  $tableHeadColor: rgba(0, 0, 0, 0.85);
  $tableHeadBackground: #f5f7fa;
  $tableHeadHoverBackground: #e4e7ef;
  $tableHeadBorderColor: $ibc;

  $tableBodyColor: rgba(0, 0, 0, 0.65);

  $tableRowHoverBackground: #f5f7fa;
  $tableRowCurrentBackground: mix($colorPrimary, white, 7.5%);
  /*---------------------------------------scroll-------------------------------------------*/
  .pl-table, .pl-virtual-table {
    .pl-scroll {
      .pl-scroll-content {
        min-width: 100%;
      }

      .pl-vertical-scrollbar-wrapper, .pl-horizontal-scrollbar-wrapper {
        z-index: 10;
      }
    }

    &:hover {
      .pl-scroll {
        & > .pl-horizontal-scrollbar-wrapper, & > .pl-vertical-scrollbar-wrapper {
          .pl-vertical-scrollbar, .pl-horizontal-scrollbar {
            opacity: 1;
          }
        }
      }
    }
  }
  /*---------------------------------------虚拟表格-------------------------------------------*/
  .pl-virtual-table {
    height: 100%;
    width: 100%;
    overflow: hidden;

    table {
      /*（未开启虚拟功能的时候，开启的时候是通过给struct设置额外的高度实现的）占位符，给滚动条让出来一些位置*/
      &:after {
        content: '';
        display: block;
        height: 6px;
        width: 1px;
      }
    }

    .pl-virtual-table-summary-table-wrapper {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 5;

      &:after {
        position: absolute;
        bottom: 0;
        height: 6px;
        left: 0;
        right: 0;
        content: '';
        background-color: $tableHeadBackground;
        z-index: 3;
      }

      .pl-virtual-table-summary-table {
        pointer-events: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $tableHeadBackground;
      }
    }
  }
  /*---------------------------------------basic-------------------------------------------*/
  table {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    table-layout: fixed;
    /**
     * table一直都是有个最小宽度100%。
     * 当总列宽小于表格宽度时，table没有具体width宽度，fit列不设置库宽度，使其自适应宽度；
     * 当总列宽大于表格宽度时，table设置具体的width宽度，fit值无效，以列具体宽度为准；
     */
    min-width: 100%;

    tr {
      td {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  /*---------------------------------------collector-------------------------------------------*/
  .plc-collector {
    display: none;
  }
  /*---------------------------------------head-------------------------------------------*/
  .plt-head {
    tr {
      border-bottom: solid 1px $tableHeadBorderColor;
      border-top: solid 1px $tableHeadBorderColor;
    }

    td {
      background-color: $tableHeadBackground;
      color: $tableHeadColor;

      &:hover {
        background-color: $tableHeadHoverBackground;
      }
    }
  }
  /*---------------------------------------body-------------------------------------------*/
  /*---------------------------------------row-------------------------------------------*/
  .plt-row {
    &:not(:last-child) {
      border-bottom: solid 1px $tableHeadBorderColor;
    }
  }
  /*---------------------------------------cell-------------------------------------------*/
}