@include theme {
  .pl-pagination {

    display: flex;
    align-items: center;
    color: $itc;
    width: 100%;
    box-sizing: border-box;

    .pl-icon {
      color: $icc;
    }

    & > * {
      display: inline-block;
    }

    .pl-number {
      padding: 0 8px;

      input {
        text-align: center;
      }
    }


    .pl-pagination-jumper {
      display: flex;
      align-items: center;
    }

    .pl-pagination-pager {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
    }

    .pl-pagination-pager-button {
      text-align: center;
      cursor: pointer;
      transition: all 300ms $transition;
      user-select: none;
      border: solid 1px $ibc;
      box-sizing: border-box;

      &:hover {
        background-color: mix(white, $colorPrimary, 90%);
      }

      &:active {
        background-color: mix(white, $colorPrimary, 75%);
      }

      &.pl-pagination-pager-button-active {
        background-color: $colorPrimary;
        border-color: $colorPrimary;
        color: white;
      }
    }

    .pl-pagination-blank {
      flex: 1;
    }

    .pl-pagination-total, .pl-pagination-loading {
      padding: 0 12px;
    }

    & > *, & > .pl-pagination-pager {
      margin-right: 8px;
    }

    .pl-pagination-pager {
      .pl-pagination-pager-button:not(:last-child) {
        margin-right: 8px;
      }
    }

    @include sizeMixin(pagination) {
      .pl-pagination-pager, .pl-pagination-prev, .pl-pagination-next, .pl-pagination-blank, .pl-pagination-pager-button {
        height: $value;
        line-height: $value;

        &.pl-pagination-pager-button {
          padding: 0 #{$value - 20};
          min-width: $value;
          display: flex;
          align-items: center;

          & > * {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
      &.pl-pagination-size-large {
        font-size: 16px;
      }
      &.pl-pagination-size-normal {
        font-size: 14px;
      }
      &.pl-pagination-size-mini {
        font-size: 12px;
      }
    }

    @include shapeMixin(pagination) {
      .pl-pagination-pager-button {
        border-radius: $value;
      }
    }

    &.pl-pagination-disabled {
      .pl-pagination-pager-button {
        background-color: $disabled;
        color: $disabledText;
        cursor: not-allowed;

        &.pl-pagination-pager-button-active {
          background-color: $disabledDeep;
          border-color: $disabledDeep;
          color: white;
        }
      }
    }
  }
}