@include theme {

  .plain-popper-content {
    position: fixed;
  }

  /*---------------------------------------popper start-------------------------------------------*/

  .pl-popper {
    display: inline-block;
    vertical-align: middle;

    .plain-popper-content {
      border-radius: 2px;
      padding: 8px 0;
      pointer-events: none !important;
      background-color: white;
      //background-color: black;
      //color: white;

      height: 120px;
    }

    .plain-popper {
      &[direction=top] {
        .plain-popper-content {
          box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, 0.15);
        }
      }

      &[direction=bottom] {
        .plain-popper-content {
          box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.15);
        }
      }

      &[direction=left] {
        .plain-popper-content {
          box-shadow: -1px 0 10px 2px rgba(0, 0, 0, 0.15);
        }
      }

      &[direction=right] {
        .plain-popper-content {
          box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
        }
      }
    }

    &.pl-popper-show {
      .plain-popper-content {
        pointer-events: auto !important;
      }
    }

    &:not(.pl-popper-show) {
      .plain-popper-content {
        box-shadow: none;
      }
    }

    &:not(.pl-popper-ready) {
      .plain-popper {
        opacity: 0;
        pointer-events: none;
      }
    }

    /*---------------------------------------transition-------------------------------------------*/

    /*fade*/

    &.pl-transition-fade {
      .plain-popper-content {
        transition: all 300ms linear;
        opacity: 0;
      }

      &.pl-popper-show {
        .plain-popper-content {
          opacity: 1;
        }
      }
    }

    /*scale*/

    &.pl-transition-scale {
      .plain-popper-content {
        transition: all 300ms $transitionFlexible;
        transform: scale(0);
        opacity: 0;
      }

      &.pl-popper-show {
        .plain-popper-content {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    /*scale-y*/

    &.pl-transition-scale-y {
      .plain-popper-content {
        transition: all 300ms $transition;
        transform: scaleY(0);
      }

      &.pl-popper-show {
        .plain-popper-content {
          transform: scaleY(1);
        }
      }
    }

    /*drop*/

    &.pl-transition-popper-drop {

      .plain-popper-content {
        transition: all 300ms $transition2;
      }

      .plain-popper[direction=top] {
        .plain-popper-content {
          transform: translate3d(0, 150%, 0);
        }
      }

      .plain-popper[direction=bottom] {
        .plain-popper-content {
          transform: translate3d(0, -150%, 0);
        }
      }

      .plain-popper[direction=left] {
        .plain-popper-content {
          transform: translate3d(150%, 0, 0);
        }
      }

      .plain-popper[direction=right] {
        .plain-popper-content {
          transform: translate3d(-150%, 0, 0);
        }
      }

      &.pl-popper-show {
        .plain-popper .plain-popper-content {
          transform: translate3d(0, 0, 0);
        }
      }

    }

  }
}