@include theme {
  .pl-contextmenu-service {
    position: fixed;

    .pl-contextmenu-service-body {
      transition: all $transition 300ms;
      transform-origin: top left;
      background-color: white;
      box-sizing: border-box;
      box-shadow: $boxshadow;
      padding: 12px 0;
      font-size: 14px;
    }
  }
}