$headSize: 64px;
$menuSize: 240px;

html, body {
  margin: 0;
  padding: 0;
}

.app-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headSize;
  background-color: #fff;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: italic;
  font-weight: 700;
  box-shadow: 0 2px 8px #f0f1f2;

  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px 0 40px;
}

@include theme {
  .app-head {
    color: $colorPrimary;
  }
}

.app-menu {
  position: fixed;
  left: 0;
  top: $headSize;
  bottom: 0;
  width: $menuSize;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;

  .app-menu-group {
    padding: 8px 0 8px 24px;
    color: #455a64;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }

  .app-menu-item {
    display: block;
    margin: 8px 0;
    padding: 8px 0 8px 24px;
    color: #455a64;
    font-size: 14px;
    line-height: 20px;
    transition: color .2s;
    cursor: pointer;
    position: relative;

    .app-menu-item-is-done {
      top: 0;
      bottom: 0;
      color: #ff7400;
      position: absolute;
      right: 16px;
      line-height: 40px;
    }

    span:first-child {
      color: #455a64;
      font-size: 14px;
      line-height: 20px;
    }

    span:nth-child(2) {
      font-size: 12px;
      margin-left: .5em;
      color: #ccc;
    }
  }
}

.app-navigator {
  min-height: calc(100vh - 20px);
  width: 100%;
  overflow-x: hidden;
  padding-top: $headSize +20;
  padding-left: $menuSize +20;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #f7f8fa;

  & > div {
    width: 100%;
  }
}

@include theme {
  .app-menu {
    .app-menu-item {
      &:hover {
        background-color: rgba($colorPrimary, 0.1);
        text-decoration: underline;
      }
    }
  }
}
