$theme-dark: (
        'dark':(
                colorPrimary: #3E97EC,
                colorSuccess: #42E67F,
                colorWarn: #E9D03F,
                colorError: #FF6235,
                colorInfo:#dcdfe4,
        )
);