/*red*/
$red_1: #fff1f0;
$red_2: #ffccc7;
$red_3: #ffa39e;
$red_4: #ff4d4f;
$red_5: #ff4d4f;
$red_6: #f5222d;
$red_7: #cf1322;
$red_8: #a8071a;
$red_9: #820014;
$red_10: #5c0011;

/*volcano*/
$volcano_1: #fff2e8;
$volcano_2: #ffd8bf;
$volcano_3: #ffbb96;
$volcano_4: #ff9c6e;
$volcano_5: #ff7a45;
$volcano_6: #fa541c;
$volcano_7: #d4380d;
$volcano_8: #ad2102;
$volcano_9: #871400;
$volcano_10: #610b00;

/*orange*/
$orange_1: #fff7e6;
$orange_2: #ffe7ba;
$orange_3: #ffd591;
$orange_4: #ffc069;
$orange_5: #ffa940;
$orange_6: #fa8c16;
$orange_7: #d46b08;
$orange_8: #ad4e00;
$orange_9: #873800;
$orange_10: #612500;

/*gold*/
$gold_1: #fffbe6;
$gold_2: #fff1b8;
$gold_3: #ffe58f;
$gold_4: #ffd666;
$gold_5: #ffc53d;
$gold_6: #faad14;
$gold_7: #d48806;
$gold_8: #ad6800;
$gold_9: #874d00;
$gold_10: #613400;

/*yellow*/
$yellow_1: #feffe6;
$yellow_2: #ffffb8;
$yellow_3: #fffb8f;
$yellow_4: #fff566;
$yellow_5: #ffec3d;
$yellow_6: #fadb14;
$yellow_7: #d4b106;
$yellow_8: #ad8b00;
$yellow_9: #876800;
$yellow_10: #614700;

/*lime*/
$lime_1: #fcffe6;
$lime_2: #f4ffb8;
$lime_3: #eaff8f;
$lime_4: #d3f261;
$lime_5: #bae637;
$lime_6: #a0d911;
$lime_7: #7cb305;
$lime_8: #5b8c00;
$lime_9: #3f6600;
$lime_10: #254000;

/*green*/
$green_1: #f6ffed;
$green_2: #d9f7be;
$green_3: #b7eb8f;
$green_4: #95de64;
$green_5: #73d13d;
$green_6: #52c41a;
$green_7: #389e0d;
$green_8: #237804;
$green_9: #135200;
$green_10: #092b00;

/*cyan*/
$cyan_1: #e6fffb;
$cyan_2: #b5f5ec;
$cyan_3: #87e8de;
$cyan_4: #5cdbd3;
$cyan_5: #36cfc9;
$cyan_6: #13c2c2;
$cyan_7: #08979c;
$cyan_8: #006d75;
$cyan_9: #00474f;
$cyan_10: #002329;

/*blue*/
$blue_1: #e6f7ff;
$blue_2: #bae7ff;
$blue_3: #91d5ff;
$blue_4: #69c0ff;
$blue_5: #40a9ff;
$blue_6: #1890ff;
$blue_7: #096dd9;
$blue_8: #0050b3;
$blue_9: #003a8c;
$blue_10: #002766;

/*geek*/
$geek_1: #f0f5ff;
$geek_2: #d6e4ff;
$geek_3: #adc6ff;
$geek_4: #85a5ff;
$geek_5: #597ef7;
$geek_6: #2f54eb;
$geek_7: #1d39c4;
$geek_8: #10239e;
$geek_9: #061178;
$geek_10: #030852;

/*purple*/
$purple_1: #f9f0ff;
$purple_2: #efdbff;
$purple_3: #d3adf7;
$purple_4: #b37feb;
$purple_5: #9254de;
$purple_6: #722ed1;
$purple_7: #531dab;
$purple_8: #391085;
$purple_9: #22075e;
$purple_10: #120338;

/*magenta*/
$magenta_1: #fff0f6;
$magenta_2: #ffd6e7;
$magenta_3: #ffadd2;
$magenta_4: #ff85c0;
$magenta_5: #f759ab;
$magenta_6: #eb2f96;
$magenta_7: #c41d7f;
$magenta_8: #9e1068;
$magenta_9: #780650;
$magenta_10: #520339;

/*gray*/
$gray_1: #ffffff;
$gray_2: #fafafa;
$gray_3: #f5f5f5;
$gray_4: #f0f0f0;
$gray_5: #d9d9d9;
$gray_6: #bfbfbf;
$gray_7: #8c8c8c;
$gray_8: #595959;
$gray_9: #434343;
$gray_10: #262626;
$gray_11: #1f1f1f;
$gray_12: #141414;
$gray_13: #000000;
