//$boxshadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
$boxshadowColor:#f0f1f2;
$boxshadow: 0 2px 8px $boxshadowColor;

$theme-default: (
        '':(
                colorPrimary: #12b4a5,                                  /*基础*/
                colorSuccess: #00CC00,                                  /*成功*/
                colorWarn: #FF7400,                                     /*警告*/
                colorError: #F38585,                                    /*错误*/
                colorInfo:#969696,                                      /*帮助*/

                disabled:#f5f7fa,                                       /*禁用*/
                disabledLight:#fcfcfc,                                  /*禁用(轻)*/
                disabledDeep:#c6c6c6,                                   /*禁用(深)*/
                disabledText:#c0c4cc,                                   /*禁用字体*/

                sizeLarge:40px,                                         /*尺寸(大)*/
                sizeNormal:32px,                                        /*尺寸(中)*/
                sizeMini:28px,                                          /*尺寸(小)*/

                shapeFillet:2px,                                        /*小圆角*/
                shapeRound:100px,                                       /*大圆角*/
                shapeNone:0,                                            /*无圆角*/

                font:'-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji',/**/

                ibc:#dcdfe6,                                            /*边框色*/
                ibl:#ebeef5,                                            /*边框色(轻)*/
                itc:#314659,                                            /*文本色*/
                itl:#697b8c,                                            /*文本色(轻)*/
                ihc:#000000,                                            /*标题色*/
                ipc:rgba(0, 0, 0, 0.25),                                /*占位符颜色*/
                icc:rgba(0, 0, 0, 0.45),                                /*图标色*/

                transitionFlexible:cubic-bezier(.24, .22, .015, 1.2),   /*flexible过度动画*/
                transition:cubic-bezier(0.23, 1, 0.32, 1),              /*默认过渡动画*/
                transition2:cubic-bezier(.59,1.12,.81,.95),             /*过渡动画(轻)*/

                boxshadow:$boxshadow,                                   /*阴影*/
                boxshadowColor:$boxshadowColor,                         /*阴影*/
                popperRadius:2px,                                       /*阴影*/
        )
);