@include theme {

    $min-width: 88px;

    .pl-button {
        vertical-align: baseline;
        box-sizing: border-box;
        border: solid 1px;
        cursor: pointer;
        transition: all 0.2s linear;
        outline: none;
        position: relative;
        text-align: center;

        @include public-style;

        @include sizeMixin(button) {
            height: $value;

            &.pl-button-size-large {
                padding: 0 32px;
                font-size: 18px;
            }
            &.pl-button-size-mini {
                padding: 0 16px;
                min-width: auto;
                font-size: 12px;
            }
            &.pl-button-size-normal {
                font-size: 14px;
            }

            &.pl-button-icon-only {
                width: $value;
                padding: 0;
                min-width: auto;

                &.pl-button-mode-text {
                    border-radius: 100px;

                    &:hover {
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }

        @include shapeMixin(button) {
            border-radius: $value;
        }

        &.pl-button-mode-fill {
            padding: 0 16px;
            min-width: $min-width;

            @include statusMixin(button) {
                background-color: $value;
                border-color: $value;
                color: white;

                &:hover {
                    background-color: rgba($value, 0.65);
                    border-color: rgba($value, 0.65);
                }
                &:active, &.pl-button-active {
                    background-color: mix(black, $value, 20%);
                    border-color: $value;
                }
                &:after {
                    border-color: $value;
                }
            }
        }

        &.pl-button-mode-stroke {
            padding: 0 16px;
            min-width: $min-width;

            @include statusMixin(button) {
                border-color: $value;
                color: $value;
                background-color: white;

                &:hover {
                    background-color: rgba($value, 0.1);
                }

                &:active, &.pl-button-active {
                    background-color: rgba($value, 0.35);
                    border-color: rgba($value, 0.35);
                }

                &:after {
                    border-color: $value;
                }
            }
        }

        &.pl-button-mode-text {
            border-color: transparent;
            background-color: transparent;
            padding: 0;

            &:not(.pl-button-icon-only) {
                height: auto;
            }

            @include statusMixin(button) {
                color: $value;
                &:active, &.pl-button-active {
                    color: rgba($value, 0.5);
                }
                &:after {
                    border-color: $value;
                }
            }

            &:not(.pl-button-icon-only):after {
                display: none;
            }
        }

        &.pl-button-disabled {
            cursor: not-allowed;

            &.pl-button-mode-fill, &.pl-button-mode-stroke {
                border-color: #d3d3d3 !important;
                color: $disabledText !important;
                background-color: $disabled !important;
            }

            &.pl-button-mode-text {
                color: #999 !important;
            }
        }

        &:focus {
            text-decoration: underline;
        }

        &.pl-button-block {
            width: 100%;
            display: block;
        }

        & > .pl-loading, & > .pl-icon, & > span {
            & + * {
                margin-left: 3px;
            }
        }
    }
}