.pl-carousel {
  position: relative;

  .pl-carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .pl-carousel-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
}