.pl-radio-inner {

  width: 1.1em;
  height: 1.1em;

  display: inline-block;
  box-sizing: border-box;
  border-color: currentColor;
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;

  circle {
    fill: currentColor;
    stroke: currentColor;
  }
}