.pl-icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: -0.3em;
  fill: currentColor;
  overflow: hidden;
}