$theme-blue: (
        'blue':(
                colorPrimary: #409EFF,
                colorSuccess: #67C23A,
                colorWarn: #E6A23C,
                colorError: #F56C6C,
                colorInfo:#909399,
                shapeFillet:4px,
        ),
        'violet':(
                colorPrimary: #8A2BE2,
                colorSuccess: #4caf50,
                colorWarn: #ff9800,
                colorError: #e91e63,
                colorInfo:#000042,
                shapeFillet:8px,
        )
);
//$boxshadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
$boxshadowColor: #f0f1f2;
$boxshadow: 0 2px 8px $boxshadowColor;

$theme-default: (
        '':(
                colorPrimary: #12b4a5,
                colorSuccess: #00CC00,
                colorWarn: #FF7400,
                colorError: #F38585,
                colorInfo:#969696,
                disabled:#f5f7fa,
                disabledLight:#fcfcfc,
                disabledDeep:#c6c6c6,
                disabledText:#c0c4cc,
                sizeLarge:40px,
                sizeNormal:32px,
                sizeMini:28px,
                shapeFillet:2px,
                shapeRound:100px,
                shapeNone:0,
                font:'-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji',
                ibc:#dcdfe6, /*input border color    边框色*/
                ibl:#ebeef5, /*border light color    边框色：轻*/
                itc:#314659, /*input text color      文本色*/
                itl:#697b8c, /*input text color      文本色：轻*/
                ihc:#000000, /*title color           标题色*/
                ipc:rgba(0, 0, 0, 0.25), /*input placeholder color 占位符颜色*/
                icc:rgba(0, 0, 0, 0.45), /*input icon color      图标色*/
                transitionFlexible:cubic-bezier(.24, .22, .015, 1.2),
                transition:cubic-bezier(0.23, 1, 0.32, 1),
                transition2:cubic-bezier(.59, 1.12, .81, .95),
                boxshadow:$boxshadow, //阴影
                boxshadowColor:$boxshadowColor, //阴影
                popperRadius:2px,
        )
);

$dt: map_get($theme-default, '');

@function plv($key) {
  @if (map_has_key($globalTheme, $key)) {
    @return map-get($globalTheme, $key);
  } @else {
    @return map-get($dt, $key);
  }
}

@mixin generateThemeContent($name,$theme) {
  $globalTheme: $theme !global;
  $globalThemeName: $name !global;

  $colorPrimary: plv(colorPrimary) !global;
  $colorPrimaryLight: mix(white, $colorPrimary, 85%) !global;
  $colorSuccess: plv(colorSuccess) !global;
  $colorWarn: plv(colorWarn) !global;
  $colorError: plv(colorError) !global;
  $colorInfo: plv(colorInfo) !global;
  $disabled: plv(disabled) !global;
  $disabledLight: plv(disabledLight) !global;
  $disabledDeep: plv(disabledDeep) !global;
  $disabledText: plv(disabledText) !global;
  $font: plv(font) !global;
  $ibc: plv(ibc) !global;
  $ibl: plv(ibl) !global;
  $itc: plv(itc) !global;
  $itl: plv(itl) !global;
  $ihc: plv(ihc) !global;
  $ipc: plv(ipc) !global;
  $icc: plv(icc) !global;
  $transitionFlexible: plv(transitionFlexible) !global;
  $transition: plv(transition) !global;
  $transition2: plv(transition2) !global;
  $shapeFillet: plv(shapeFillet) !global;
  $popperRadius: plv(popperRadius) !global;
  $boxshadow: plv(boxshadow) !global;
  $boxshadowColor: plv(boxshadowColor) !global;

  @if (str_length($name)>0) {
    .theme-#{$name} {
      @content;
    }
  } @else {
    html {
      @content;
    }
  }
}

@mixin statusMixin($component) {
  @each $key in (Primary, Success, Warn, Error, Info) {

    $value: plv(color#{$key}) !global;

    $name: to-lower-case($key) !global;
    &.pl-#{$component}-status-#{$name} {
      @content;
    }
  }
}

@mixin shapeMixin($component) {
  @each $key in (Fillet, Round, Square) {

    $value: plv(shape#{$key}) !global;
    $name: to-lower-case($key) !global;

    &.pl-#{$component}-shape-#{$name} {
      @content;
    }
  }
}

@mixin sizeMixin($component) {
  @each $key in (Large, Normal, Mini) {

    $value: plv(size#{$key}) !global;
    $name: to-lower-case($key) !global;

    &.pl-#{$component}-size-#{$name} {
      @content;
    }
  }
}

@mixin public-style {
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@mixin transition {
  transition: all $transition 300ms;
}


$themes: map_merge($theme-default, $theme-blue);

@mixin theme {
  @each $curThemeName, $curTheme in $themes {
    @include generateThemeContent($curThemeName, $curTheme) {
      @content;
    }
  }
}