.pl-tooltip {
  outline: none;

  &.pl-tooltip-show-overflow-tooltip {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: text-bottom;
  }
}