@include theme {
    .pl-color-button {
        border-radius: 2px;
        height: 24px;
        width: 24px;
        border: solid 1px $ibc;
        padding: 2px;
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;

        .pl-color-button-background {
            background-size: 7px 7px;
            border-radius: 2px;
            box-sizing: border-box;
            height: 100%;
            width: 100%;

            .pl-color-button-color {
                height: 100%;
                width: 100%;
            }
        }
    }
}