@import "./component/icon";
@import "./component/scroll";
@import "./component/nav-tab";
@import "./component/list";
@import "./component/tooltip";
@import "./component/tab";
@import "./component/box";
@import "./component/button";
@import "./component/loading";
@import "./component/input";
@import "./component/toggle";
@import "./component/radio";
@import "./component/form";
@import "./component/message";
@import "./component/textarea";
@import "./component/select";
@import "./component/dialog";
@import "./component/collapse";
@import "./component/carousel";
@import "./component/card";
@import "./component/notice";
@import "./component/cascade";
@import "./component/popover";
@import "./component/tooltip";
@import "./component/number";
@import "./component/slider";
@import "./component/rate";
@import "./component/color-picker";
@import "./component/scroll-option";


@mixin component-mixin {
  @include component-icon;
  @include component-scroll;
  @include component-nav-tab;
  @include component-list;
  @include component-tooltip;
  @include component-tab;
  @include component-box;
  @include component-button;
  @include component-loading;
  @include component-input;
  @include component-toggle;
  @include component-radio;
  @include component-form;
  @include component-message;
  @include component-textarea;
  @include component-select;
  @include component-dialog;
  @include component-collapse;
  @include component-carousel;
  @include component-card;
  @include component-notice;
  @include component-cascade;
  @include component-popover;
  @include component-tooltip;
  @include component-number;
  @include component-slider;
  @include component-rate;
  @include component-color-picker;
  @include component-scroll-option;


}