.collapse-transition {
  transition: 0.15s height ease-in-out, 0.15s padding-top ease-in-out, 0.15s padding-bottom ease-in-out;
}

/*缩放*/
.pl-transition-scale-enter-active, .pl-transition-scale-leave-active {
  transition: .25s cubic-bezier(.24, .22, .015, 1.56) !important;
}

.pl-transition-scale-enter, .pl-transition-scale-leave-to {
  transform: scale(0.5);
  opacity: 0;
}

/*透明度*/
.pl-transition-fade-enter-active, .pl-transition-fade-leave-active {
  opacity: 1;
  @include transition-all;
}

.pl-transition-fade-enter, .pl-transition-fade-leave-to {
  opacity: 0;
}

/*移动*/
.pl-transition-from-bottom-enter-active, .pl-transition-from-bottom-leave-active {
  @include transition-all;
}

.pl-transition-from-bottom-enter, .pl-transition-from-bottom-leave-to {
  transform: translateY(36px);
  opacity: 0;
}

/*从右往左*/
.pl-transition-from-right-active, .pl-transition-from-leave-active {
  @include transition-all;
}

.pl-transition-from-right-enter, .pl-transition-from-right-leave-to {
  transform: translateX(36px);
  opacity: 0;
}
