<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../dest/index.css">
</head>
<body>
<div id="app">

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
<script src="../dest/index.js"></script>
<!--<script src="../dest/index.js"></script>-->
<script>
    'use strict';

    const {createApp} = window.Vue

    const app = createApp({
        template: `
            <div>
                <pl-button v-for="item in ['primary','success','warn','error','info']" :key="item" :status="item" style="margin-right: 8px">
                    {{item}}
                </pl-button>
                <hr>
                <pl-input v-for="item in ['primary','success','warn','error','info']" :key="item" :status="item" style="margin-right: 8px" v-model="text"/>

                <div>
                    <span>普通的文本：</span>
                    <pl-icon icon="mianbao"/>
                </div>
                <button @click="showFlag = true">
                    加载饼干图标
                    <pl-icon icon="binggan" v-if="showFlag"/>
                </button>
            </div>
        `,
        data(){
            return{
                text:'',
                showFlag:false,
            }
        },

    });
    console.log(window.PlainUIV3)
    app.use(window.PlainUIV3);
    app.mount('#app');
</script>
</body>
</html>