@include theme {

  /*---------------------------------------popper start-------------------------------------------*/

  .pl-popper {
    position: fixed;

    .plain-popper-content {
      border-radius: 2px;
      pointer-events: none !important;
      background-color: white;

      //background-color: black;
      //color: white;
      //height: 120px;

      .pl-popper-title {
        min-height: 32px;
        margin: 0;
        padding: 5px 16px 4px;
        color: rgba(0, 0, 0, .85);
        font-weight: 500;
        border-bottom: 1px solid #f0f0f0;
        font-size: 14px;
        box-sizing: border-box;
      }

      .pl-popper-content-inner {
        color: rgba(0, 0, 0, .85);
        font-size: 12px;
        padding: 4px 16px;
        box-sizing: border-box;

        p {
          margin: 0;
        }
      }
    }

    &.pl-popper-no-content-padding {
      .pl-popper-content-inner {
        padding-left: 0;
        padding-right: 0;
      }
    }

    /*box-shadow*/
    &.plain-popper {
      &[direction=top] {
        .plain-popper-content {
          box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, 0.15);
        }
      }

      &[direction=bottom] {
        .plain-popper-content {
          box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.15);
        }
      }

      &[direction=left] {
        .plain-popper-content {
          box-shadow: -1px 0 10px 2px rgba(0, 0, 0, 0.15);
        }
      }

      &[direction=right] {
        .plain-popper-content {
          box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
        }
      }
    }

    &.pl-popper-show {
      .plain-popper-content {
        pointer-events: auto !important;
      }
    }

    &:not(.pl-popper-show) {
      .plain-popper-content {
        box-shadow: none;
      }

      &:not(.pl-popper-open) {
        .plain-popper-content {
          transition: none !important;
        }
      }
    }

    /*&:not(.pl-popper-ready) {
      opacity: 0;
      pointer-events: none;
    }*/

    &:not(.pl-popper-show-arrow) {
      .plain-popper-arrow {
        display: none;
      }
    }

    /*---------------------------------------transition-------------------------------------------*/

    /*fade*/

    &.pl-transition-fade {
      .plain-popper-content {
        transition: opacity 150ms linear;
        opacity: 0;
      }

      &.pl-popper-show {
        .plain-popper-content {
          opacity: 1;
        }
      }
    }

    /*scale*/

    &.pl-transition-scale {
      .plain-popper-content {
        transition: all 200ms $transitionFlexible;
        transform: scale(0.5);
        opacity: 0;
      }

      &.pl-popper-show {
        .plain-popper-content {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    /*scale-y*/

    &.pl-transition-scale-y {
      .plain-popper-content {
        transition: all 300ms $transition;

        transform: scaleY(0);
      }

      &.pl-popper-show {
        .plain-popper-content {
          transform: scaleY(1);
        }
      }
    }

    /*drop*/

    &.pl-transition-popper-drop {

      .plain-popper-content {
        transition: all 200ms $transition2;
        opacity: 0;
      }

      $duration: 60%;

      &.plain-popper[direction=top] {
        .plain-popper-content {
          transform: translate3d(0, $duration, 0);
        }
      }

      &.plain-popper[direction=bottom] {
        .plain-popper-content {
          transform: translate3d(0, -$duration, 0);
        }
      }

      &.plain-popper[direction=left] {
        .plain-popper-content {
          transform: translate3d($duration, 0, 0);
        }
      }

      &.plain-popper[direction=right] {
        .plain-popper-content {
          transform: translate3d(-$duration, 0, 0);
        }
      }

      &.pl-popper-show {
        &.plain-popper .plain-popper-content {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }

    }

  }
}