@include theme {
  .pl-tag {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    border: solid 1px;

    @include sizeMixin(tag) {
      height: $value;
      line-height: $value;
      padding: 0 #{$value - 20px};
      &.pl-tag-size-mini {
        font-size: 12px;
      }
      &.pl-tag-size-normal {
        font-size: 14px;
      }
      &.pl-tag-size-large {
        font-size: 16px;
      }
    }

    @include shapeMixin(tag) {
      border-radius: $value;
    }

    &.pl-tag-mode-fill {
      @include statusMixin(tag) {
        color: white;
        border-color: $value;
        background-color: $value;
      }

      &.pl-tag-disabled {
        background-color: $disabled;
        color: $disabledText;
        border-color: $disabled;
      }
    }

    &.pl-tag-mode-stroke {
      @include statusMixin(tag) {
        color: $value;
        border-color: mix(white, $value, 50%);
        background-color: mix(white, $value, 90%);
      }

      &.pl-tag-disabled {
        background-color: $disabled;
        color: $disabledText;
        border-color: $disabled;
      }
    }

    &.pl-tag-mode-text {
      @include statusMixin(tag) {
        color: $value;
        border-color: transparent;
      }

      &.pl-tag-disabled {
        color: $disabledText;
      }
    }

    &.pl-tag-disabled {
      cursor: not-allowed;
    }
  }
}