@include theme {
  .pl-toggle {
    background-color: $disabled;
    position: relative;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    transition: background-color 300ms;
    cursor: pointer;

    .pl-toggle-inner {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      bottom: 2px;
      background: white;
      box-shadow: 0 3px 12px rgba(0, 0, 0, .16), 0 3px 1px rgba(0, 0, 0, .1);
      transition: all 0.3s;
      border-radius: plv(sizeLarge);
    }

    &:before {
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      border-radius: plv(sizeLarge);
      background-color: #fff;
      content: "";
      transform: scaleX(1);
      /*transform: scale3d(0, 0, 0);*/
      transition: transform .3s;
    }

    @include sizeMixin(toggle) {
      $value: $value - 6px;
      height: $value;
      width: $value*52/32;
      border-radius: plv(sizeLarge);

      &.pl-toggle-on {
        .pl-toggle-inner {
          left: $value/2+6;
        }
      }
      .pl-toggle-inner {
        right: $value/2+6;
      }
      &.pl-toggle-active {
        .pl-toggle-inner {
          right: $value/2;
        }

        &.pl-toggle-on .pl-toggle-inner {
          left: $value/2;
        }
      }
    }

    &.pl-toggle-on {
      &:before {
        transform: scale3d(0, 0, 0);
      }

      .pl-toggle-inner {
        right: 2px;
      }
    }

    &.pl-toggle-active {
      .pl-toggle-inner {
        left: 2px;
      }

      &.pl-toggle-on .pl-toggle-inner {
        right: 2px;
      }
    }

    @include statusMixin(toggle) {
      &.pl-toggle-on {
        background-color: $value;
      }
      &:after {
        border-color: $value;
      }
      &:focus {
        .pl-toggle-inner {
          background-color: mix(white, $value, 90%);
        }
      }
    }

    &.pl-toggle-disabled {
      cursor: not-allowed;

      background-color: $disabled;

      &:before {
        background-color: $disabled;
      }

      .pl-toggle-inner {
        background-color: $disabled !important;
      }

      &.pl-toggle-on {
        @include statusMixin(toggle) {
          background-color: rgba($value, 0.5);
        }
      }
    }
  }
}