@include theme {

  $headSize: 80px;
  $menuSize: 220px;

  .pro-home {
    width: 100vw;
    height: 100vh;
    position: relative;

    & > div {
      position: absolute;
    }

    .pro-home-header {
      height: $headSize;
      left: $menuSize - 20;
      top: 0;
      right: 0;
      box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      z-index: 1;

      .pro-home-header-info {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div {
          display: flex;
          align-items: center;
        }

        .pro-home-header-info-item {
          height: 36px;
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $itc;
          border-radius: 4px;

          .pl-badge-content-dot {
            width: 8px;
            height: 8px;
          }

          &:hover {
            background-color: rgba(black, 0.05);
            cursor: pointer;
          }
        }

        .pro-home-user-info {
          display: flex;
          align-items: center;
          margin-left: 20px;

          .pro-home-user-avatar {
            img {
              display: block;
              height: 32px;
              width: 32px;
              margin-right: 8px;
            }
          }
        }
      }

      .pro-home-header-tabs {
        height: 40px;

        .pro-home-header-tab-list {
          height: 40px;
          display: flex;
          align-items: center;
          padding-left: 40px;
        }

        .pro-home-header-tab {
          display: inline-block;
          padding: 0 20px;
          height: 36px;
          line-height: 36px;
          background-color: rgba(black, 0.04);
          cursor: pointer;
          color: $itc;
          position: relative;
          border-radius: 2px;
          transition: all 300ms $transition;

          .pl-icon {
            margin-right: 4px;
          }

          span {
            font-size: 14px;
          }

          & + .pro-home-header-tab {
            margin-left: 2px;
          }

          &:hover {
            background-color: rgba($colorPrimary, 0.1);

            span, .pl-icon {
              color: $colorPrimary;
            }
          }

          &:active {
            background-color: rgba($colorPrimary, 0.2);
          }

          &.pro-home-header-tab-active {
            background-color: $colorPrimary;
            color: white;
          }
        }
      }
    }

    .pro-home-menu {
      width: $menuSize;
      left: 0;
      top: 0;
      bottom: 0;
      box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
      box-sizing: border-box;
      background-color: white;
      z-index: 2;

      .pro-home-menu-header {
        height: $headSize;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $colorPrimary;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 7px;
        border-bottom: solid 1px $ibl;

        & > span {
          margin-bottom: 8px;
          margin-left: 6px;
        }

        .pl-input-inner {
          background-color: #f2f2f2;
          border: none;
        }
      }

      .pro-home-menu-content {
        position: absolute;
        top: $headSize;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px 0;

        .pro-home-menu-item {

          & + .pro-home-menu-item {
            margin-top: 8px;
          }

          .pro-home-menu-item-content {
            height: 40px;
            line-height: 40px;
            color: $itc;
            position: relative;
            cursor: pointer;
            font-size: 14px;
            padding-right: 40px;
            box-sizing: border-box;

            & > .pro-home-menu-item-icon {
              width: 1em;
              display: inline-block;
              margin-right: 8px;
            }

            &, & .pl-icon {
              transition: all 300ms linear;
            }

            & > .pro-home-menu-item-expander {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              color: $icc;
              transition: transform .3s cubic-bezier(.645, .045, .355, 1);
              perspective: 150px;

              .pl-icon {
                transform: rotate(0);
              }
            }

            & > * {
              line-height: normal;
            }

            &:hover, &.pro-home-menu-item-active {
              &, & .pl-icon {
                color: $colorPrimary;
              }
            }

            &:hover, &.pro-home-menu-item-active {
              background-color: rgba($colorPrimary, 0.1);
            }

            &.pro-home-menu-item-expand {
              //border-right: solid 3px $colorPrimary;
              & > .pro-home-menu-item-expander {
                .pl-icon {
                  transform: rotateX(180deg);
                }
              }
            }

            &.pro-home-menu-item-active {
              border-right: solid 5px $colorPrimary;
            }
          }

          .pro-home-menu-children {
            padding-top: 8px;
          }
        }
      }
    }

    .pro-home-content {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-color: #f0f2f5;
      padding-top: $headSize;
      padding-left: $menuSize;
      box-sizing: border-box;
    }
  }
}