@include theme {

  $headSize: 72px;
  $menuSize: 220px;

  .pro-home {
    width: 100vw;
    height: 100vh;
    position: relative;

    & > div {
      position: absolute;
    }

    .pro-home-header {
      height: $headSize;
      left: $menuSize - 20;
      top: 0;
      right: 0;
      box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
      box-sizing: border-box;
      padding-left: 40px;
      background-color: white;
      z-index: 1;
    }

    .pro-home-menu {
      width: $menuSize;
      left: 0;
      top: 0;
      bottom: 0;
      box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
      box-sizing: border-box;
      background-color: white;
      z-index: 2;

      .pro-home-menu-header {
        height: $headSize;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorPrimary;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 4px;
      }

      .pro-home-menu-content {
        position: absolute;
        top: $headSize;
        bottom: 0;
        left: 0;
        right: 0;

        .pro-home-menu-item {

          & + .pro-home-menu-item {
            margin-top: 8px;
          }

          .pro-home-menu-item-content {
            height: 40px;
            line-height: 40px;
            color: $itc;
            position: relative;
            cursor: pointer;
            font-size: 14px;
            padding-right: 40px;
            box-sizing: border-box;

            & > .pro-home-menu-item-icon {
              width: 1em;
              display: inline-block;
              margin-right: 8px;
              color: $icc;
            }

            &, & .pl-icon {
              transition: all 300ms linear;
            }

            & > .pro-home-menu-item-expander {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              color: $icc;
              transition: transform .3s cubic-bezier(.645, .045, .355, 1);
              perspective: 150px;

              .pl-icon {
                transform: rotate(0);
              }
            }

            & > * {
              line-height: normal;
            }

            &:hover, &.pro-home-menu-item-expand {
              &, & .pl-icon {
                color: $colorPrimary;
              }
            }

            &:hover {
              background-color: rgba($colorPrimary, 0.1);
            }

            &.pro-home-menu-item-expand {
              //border-right: solid 3px $colorPrimary;
              & > .pro-home-menu-item-expander {
                .pl-icon {
                  transform: rotateX(180deg);
                }
              }
            }
          }
        }
      }
    }

    .pro-home-content {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-color: #f0f2f5;
      padding-top: $headSize;
      padding-left: $menuSize;
      box-sizing: border-box;
    }
  }
}