@include theme {
  .pl-color-alpha-slider {
    width: 10px;
    background-size: 10px 10px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;

    .pl-color-alpha-shadow, .pl-color-alpha-thumb {
      pointer-events: none;
    }

    .pl-color-alpha-shadow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
    }

    .pl-color-alpha-thumb {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: solid 1px $colorInfo;
      display: inline-block;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
  }
}