@include theme {
  .pl-color-sv-panel {
    position: relative;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: inline-block;

    &:before, &:after, & span {
      pointer-events: none;
    }

    &, &:before, &:after {
      border-radius: 2px;
    }

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
    }

    &:before {
      background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    }

    &:after {
      background: linear-gradient(to top, black, rgba(255, 255, 255, 0));
    }

    .pl-color-sv-thumb {
      display: inline-block;
      position: absolute;
      width: 1px;
      height: 1px;
      left: 0;
      top: 0;
      z-index: 1;

      &:after {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: solid 1px #999;
        border-radius: 10px;
        position: absolute;
        top: -5px;
        left: -5px;
        content: '';
        box-sizing: border-box;
        background-color: white;
      }
    }
  }
}