@include theme {
    .pl-step-group {

        .pl-step {
            .pl-step-title {
                font-size: 16px;
                color: $ihc;
            }

            .pl-step-content {
                font-size: 14px;
            }

            .pl-step-dot {
                width: 12px;
                height: 12px;
                border-radius: 12px;
                display: inline-block;
            }
        }

        &:not(.pl-step-group-dot-icon ) {
            .pl-step-icon {
                width: 32px;
                height: 32px;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                border-radius: 32px;
                border: solid 1px $ibc;
                display: inline-block;
                color: $icc;
                margin: 0 8px;

                .pl-icon, .pl-loading {
                    font-size: 1.8em;
                }

                .pl-step-number {
                    .pl-icon {
                        font-size: 1.2em;
                    }
                }
            }
        }

        &.pl-step-group-horizontal {
            display: flex;
            align-items: center;

            .pl-step {
                flex: 1;

                .pl-step-divider {
                    flex: 1;
                    height: 1px;
                    background-color: $ibl;
                }

                .pl-step-head, .pl-step-body {
                    display: flex;
                }

                .pl-step-head {
                    align-items: center;
                    margin-bottom: 8px;

                    .pl-step-title {
                        margin-right: 8px;
                    }

                    .pl-step-dot {
                        margin-right: 8px;
                    }
                }

                .pl-step-body {
                    align-items: flex-start;

                    .pl-step-icon {
                        border: none;
                    }

                    .pl-step-title {
                        margin-bottom: 8px;
                    }
                }


                &.pl-step-last {
                    flex: initial;
                }
            }

            &.pl-step-group-title-align-bottom {
                .pl-step {
                    &:first-child {
                        .pl-step-head {
                            .pl-step-divider:first-child {
                                background-color: transparent !important;
                            }
                        }
                    }

                    &:last-child {
                        flex: 1;

                        .pl-step-head {
                            .pl-step-divider:last-child {
                                background-color: transparent !important;
                            }
                        }
                    }
                }

                .pl-step-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &.pl-step-group-vertical {
            display: flex;
            flex-direction: column;
            flex-wrap: revert;

            .pl-step {
                display: flex;

                .pl-step-head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .pl-step-divider {
                        flex: 1;
                        width: 1px;
                        background-color: $ibl;
                    }
                }

                .pl-step-body {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .pl-step-title {
                        line-height: 32px;
                    }

                    .pl-step-content {
                        padding: 8px 0;
                    }
                }

                &:last-child {
                    .pl-step-head .pl-step-divider {
                        display: none;
                    }
                }
            }
        }

        .pl-step {
            &.pl-step-has-icon {
                .pl-step-head {
                    .pl-step-icon {
                        border: none;
                        position: relative;
                        top: 1px;
                    }
                }
            }

            &.pl-step-status-wait {
                .pl-step-title {
                    color: $icc;
                }

                .pl-step-content {
                    color: $icc;
                }

                .pl-step-dot {
                    border: solid 1px $icc;
                    background-color: white;
                }
            }

            &.pl-step-status-finish {
                .pl-step-head {
                    .pl-step-icon {
                        border-color: $colorPrimary;
                        color: $colorPrimary;
                    }

                    .pl-step-dot {
                        background-color: $colorPrimary;
                    }

                    .pl-step-divider.pl-step-divider-next {
                        background-color: $colorPrimary;
                    }
                }

                & + .pl-step {
                    .pl-step-head {
                        .pl-step-divider-prev {
                            background-color: $colorPrimary;
                        }
                    }
                }
            }

            &.pl-step-status-process {

                .pl-step-head {
                    .pl-step-icon {
                        border-color: $colorPrimary;
                        background-color: $colorPrimary;
                        color: white;
                    }

                    .pl-step-title {
                        color: $colorPrimary;
                    }

                    .pl-step-dot {
                        border: solid 4px $colorPrimary;
                        box-sizing: border-box;
                        background-color: white;
                    }
                }

                .pl-step-body {
                    .pl-step-content {
                        color: $colorPrimary;
                    }

                    .pl-step-title {
                        color: $colorPrimary;
                    }
                }

                &.pl-step-has-icon {
                    .pl-step-icon {
                        border-color: transparent;
                        background-color: transparent;
                        color: $colorPrimary;
                    }
                }
            }

            &.pl-step-status-error {

                .pl-step-head {
                    .pl-step-icon {
                        border-color: $colorError;
                        background-color: $colorError;
                        color: white;
                    }

                    .pl-step-title {
                        color: $colorError;
                    }

                    .pl-step-dot {
                        background-color: $colorError;
                    }
                }

                .pl-step-body {
                    .pl-step-content {
                        color: $colorError;
                    }

                    .pl-step-title {
                        color: $colorError;
                    }
                }

                &.pl-step-has-icon {
                    .pl-step-icon {
                        border-color: transparent;
                        background-color: transparent;
                        color: $colorError;
                    }
                }
            }
        }

        &.pl-step-group-mini {

            &:not(.pl-step-group-dot-icon) {
                .pl-step-icon {
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 20px;
                    border: solid 1px $ibc;
                    display: inline-block;
                    color: $icc;
                    margin: 0 8px;

                    .pl-icon, .pl-loading {
                        font-size: 1.8em;
                    }

                    .pl-step-number {
                        .pl-icon {
                            font-size: 1.2em;
                        }
                    }
                }
            }

            .pl-step-title {
                font-size: 14px;
            }

            .pl-step-content {
                font-size: 12px;
            }

            &.pl-step-group-vertical {
                .pl-step {
                    .pl-step-body {
                        .pl-step-title {
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        &.pl-step-group-dot-icon {
            .pl-step {
                .pl-step-head {
                    .pl-step-icon {
                        background-color: transparent;
                    }
                }
            }

            &.pl-step-group-horizontal:not(.pl-step-group-vertical) {
                .pl-step {
                    .pl-step-content {
                        padding-left: 20px;
                    }
                }
            }

            &.pl-step-group-title-align-bottom {
                .pl-step .pl-step-head .pl-step-dot {
                    margin-right: 0;
                }
            }

            &.pl-step-group-vertical {
                .pl-step-head {
                    margin-right: 8px;
                    position: relative;

                    .pl-step-divider {
                        position: absolute;
                        left: 5px;
                        top: 22px;
                        bottom: -10px;
                    }
                }

                .pl-step-icon {
                    margin-top: 10px;
                    height: 12px;
                    display: inline-block;

                    .pl-step-dot {
                        float: left;
                    }
                }

                &.pl-step-group-mini {
                    .pl-step-icon {
                        margin-top: 5px;
                    }

                    .pl-step-head {
                        .pl-step-divider {
                            position: absolute;
                            left: 5px;
                            top: 16px;
                            bottom: -5px;
                        }
                    }
                }
            }
        }
    }
}