@include theme {
  .pl-dropdown-option {
    padding: 5px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $itc;
    background-color: white;
    transition: background-color linear 200ms;

    .pl-dropdown-option-icon {
      margin-right: 6px;
      opacity: 0.5;
    }

    &:not(.pl-dropdown-option-disabled):hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &.pl-dropdown-option-disabled {
      color: $disabledText;
      cursor: not-allowed;
    }

    &.pl-dropdown-option-align-left {
      text-align: left
    }

    &.pl-dropdown-option-align-center {
      text-align: center
    }

    &.pl-dropdown-option-align-right {
      text-align: right
    }

    &.pl-dropdown-option-no-wrap {
      white-space: nowrap;
    }
  }

  .pl-dropdown-group {

    .pl-dropdown-group-title {
      font-size: 12px;
      color: $ipc;
      padding: 8px 12px;
      margin-top: 4px;
      border-bottom: solid 1px $ibl;

      & > .pl-icon {
        margin-right: 6px;
      }
    }

    .pl-dropdown-group-content {
      padding: 4px 8px;
    }

    &.pl-dropdown-no-title:not(:last-child) {
      border-bottom: solid 1px $ibc;
    }

  }
}
