.pl-image-preview-service {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.85);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .pl-image-preview-service-indicator {

    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .pl-image-preview-service-indicator-item {
      width: 16px;
      height: 4px;
      background-color: rgba(white, 0.25);

      & + div {
        margin-left: 8px;
      }

      &.pl-image-preview-service-indicator-item-active {
        background-color: white;
        width: 32px;
      }
    }
  }

  .pl-image-preview-service-button-group {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .pl-image-preview-service-button {
      height: 48px;
      width: 48px;
      background-color: rgba(white, 0.45);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1px;
      font-size: 24px;

      &:first-child {
        padding-left: 5px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }

      &:last-child {
        padding-right: 5px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }

      &:hover {
        background-color: rgba(black, 0.45);
        cursor: pointer;
      }
    }
  }

  & > .pl-image-preview-service-img-wrapper {
    & > div > img {
      max-height: 70vh;
      max-width: 90vw;
      cursor: grab;
      position: relative;
      user-select: none;
      transition: transform linear 0.1s;
    }
  }
}

@include theme {

  .pl-image-preview-enter {
    opacity: 0;

    .pl-image-preview-service-img-wrapper {
      transform: scale(0.25);
    }

    .pl-image-preview-service-button-group {
      transform: translateY(200px);
    }
  }

  .pl-image-preview-enter-active {
    opacity: 1;

    .pl-image-preview-service-img-wrapper {
      transform: scale(1);
    }

    .pl-image-preview-service-button-group {
      transform: translateY(0);
    }
  }

  .pl-image-preview-exit {
    opacity: 1;
  }

  .pl-image-preview-exit-active {
    opacity: 0;

    .pl-image-preview-service-img-wrapper {
      transform: scale(0.25);
    }

    .pl-image-preview-service-button-group {
      transform: translateY(200px);
    }
  }

  .pl-image-preview-enter-active, .pl-image-preview-exit-active {
    transition: all 300ms linear;

    .pl-image-preview-service-indicator {
      transition: transform linear 300ms;

      .pl-image-preview-service-indicator-item {
        transition: all linear 300ms;
      }
    }

    .pl-image-preview-service-button-group {
      transition: transform linear 300ms;
    }

    .pl-image-preview-service-img-wrapper {
      transition: transform $transition 300ms;
    }
  }

  img.pl-image {
    vertical-align: bottom;
  }

  div.pl-image {
    vertical-align: bottom;
    min-height: 30px;
    min-width: 30px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pl-icon {
      font-size: 36px;
      color: $icc;
    }

    span {
      color: $itc;
      font-size: 12px;
    }

    &.pl-image-status-pending {
      .pl-loading {
        margin-bottom: 0;
      }
    }

    &.pl-image-status-empty {
      background-color: $disabled;

      .pl-icon {
        color: $disabledDeep;
      }

      span {
        color: $disabledText;
      }
    }

    &.pl-image-status-error {
      background-color: rgba($colorError, 0.1);

      .pl-icon {
        color: $colorError;
      }

      span {
        color: $colorError;
      }
    }

    &.pl-image-status-pending {
      background-color: rgba($colorPrimary, 0.1);

      .pl-icon {
        color: $colorPrimary;
      }

      span {
        color: $colorPrimary;
      }
    }
  }

  img.pl-image-preview-on-click {
    cursor: zoom-in;
  }

  .pl-image-uploader {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > img {
      height: 100%;
      width: 100%;
    }

    &, & .pl-icon, & span {
      transition: all linear 300ms;
    }

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > .pl-icon {
        font-size: 32px;
      }

      & > span {
        font-size: 12px;
        margin-top: 4px;
      }
    }

    &.pl-image-uploader-status-empty {
      border: dashed 2px $ibc;

      .pl-icon {
        color: $icc;
      }

      span {
        color: $itc;
      }

      &:hover {
        border-color: $colorPrimary;

        .pl-icon, span {
          color: $colorPrimary;
        }
      }

      &:active {
        background-color: rgba($colorPrimary, 0.1);
      }
    }

    &.pl-image-uploader-status-fail {
      .pl-image-uploader-fail {
        background-color: rgba(black, 0.85);
        color: white;
      }
    }

    & > .pl-image-uploader-button-group {
      bottom: 0;
      top: initial;
      left: 0;
      right: 0;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      transition: all $transition 300ms;
      transform: translateY(100%);

      & > div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(#999, 0.65);
        border-radius: 4px;
        transform: scale(0.9);

        &:hover {
          background-color: rgba(black, 0.45);
        }

        &:active {
          opacity: 0.75;
        }

        .pl-icon {
          color: white;
        }
      }
    }

    &.pl-image-editable.pl-image-uploader-status-success {
      &:hover > .pl-image-uploader-button-group {
        transform: translateY(0);
      }
    }
  }
}
