@import "./time.public";

@include theme {
  .pl-time-base-panel {
    display: inline-block;
    position: relative;
    color: $itc;

    &:before {
      position: absolute;
      top: $time-size*3;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $ibl;
      content: '';
      pointer-events: none;
    }

    &:after {
      position: absolute;
      top: $time-size*4;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $ibl;
      content: '';
      pointer-events: none;
    }

    .pl-time-base-column {
      border: none;

      & + .pl-time-base-column {
        border-left: dashed 1px $ibc;
      }
    }
  }
}