<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/plain-ui@0.4.6/dist/plain-ui.min.css"/>
</head>
<body>
<div id="app"></div>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.1.5/vue.global.js"></script>
<script src="https://unpkg.com/plain-ui-composition@0.0.25/dist/plain-ui-composition.min.js"></script>
<script src="https://unpkg.com/plain-ui@0.4.6/dist/plain-ui.min.js"></script>

<script>

    const {createApp,reactive} = Vue

    const APP = {
        template:`
            <pl-root>
                <pl-collapse title="BUTTON">
                    <pl-button label="this is app" @click="$message('hello world')"/>
                </pl-collapse>
                <pl-collapse title="INPUT">
                    <pl-input status="primary" v-model="state.text"/>
                    {{ state.text }}
                </pl-collapse>
                <pl-collapse title="TAG INPUT">
                    <pl-tag-input v-model="state.formData.tagList"/>
                    {{ JSON.stringify(state.formData.tagList) }}
                </pl-collapse>
            </pl-root>
        `,
        setup() {
            const state = reactive({
                text: 'hello',
                formData: {},
            })
            return {state}
        },
    }

    const app = createApp(APP)
    app.use(PlainUi)
    app.mount('#app')

</script>
</body>
</html>
