@mixin component-carousel {
  .pl-carousel {
    @include public-style;
    overflow: hidden;
    display: inline-block;
    position: relative;

    .pl-carousel-item {
      vertical-align: middle;
    }

    &, & .pl-carousel-content, & .pl-carousel-item {
      height: 100%;
      width: 100%;
    }

    .pl-carousel-content {
      transition: all 1000ms $transition2;
      white-space: nowrap;
      position: relative;

      &.pl-carousel-content-moving {
        transition: initial;
      }

      .pl-carousel-item {
        display: inline-block;
      }
    }

    $dot-size: 9px;

    .pl-carousel-dot {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .pl-carousel-dot-item {
        transition: all 300ms $transition2;
        height: $dot-size/3;
        width: $dot-size;
        border-radius: $dot-size;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;

        &:not(:last-child) {
          margin-right: $dot-size;
        }

        &.pl-carousel-dot-item-active {
          background-color: rgba(255, 255, 255, 1);
          width: 2.5*$dot-size;
        }
      }
    }

    .pl-carousel-prev-button, .pl-carousel-next-button {
      transition: all 300ms $transition2;
      position: absolute;
      top: 0;
      bottom: 0;
      box-sizing: border-box;
      padding: 0 12px;
      opacity: 0;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;

      & > span {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background-color: rgba(black, 0.15);
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        cursor: pointer;

        &:active {
          background-color: rgba(black, 0.1);
        }
      }

      &.pl-carousel-prev-button {
        left: 0;
      }

      &.pl-carousel-next-button {
        right: 0;
      }
    }

    &:hover {
      .pl-carousel-prev-button, .pl-carousel-next-button {
        opacity: 1;
      }
    }
  }
}
