@mixin component-checkbox {
  .pl-checkbox {
    @include public-style;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    outline: none;
    font-size: 14px;

    .plain-click-node {
      height: 1em;
      width: 1em;
      display: inline-block;
      vertical-align: -0.13em;

      .pl-checkbox-inner {
        transition: all 150ms linear;
        float: left;
      }

      & + .pl-checkbox-label {
        margin-left: 0.5em;
      }
    }

    .pl-checkbox-label {
      display: inline-block;
    }

    @include statusMixin(checkbox) {
      .plain-click-node {
        .pl-checkbox-inner {
          color: $value;
        }

        &:after {
          border-color: $value;
        }
      }
      &.pl-checkbox-checked {
        .pl-checkbox-label {
          color: $value;
        }
      }
    }

    &.pl-checkbox-size-large {
      font-size: 18px;
    }

    &.pl-checkbox-size-default {
      font-size: 14px;
    }

    &.pl-checkbox-size-small {
      font-size: 12px;
    }

    &:focus {
      .pl-checkbox-label {
        text-decoration: underline;
      }
    }

    &.pl-checkbox-disabled {
      cursor: not-allowed;

      .pl-checkbox-label {
        color: $disabledDeep !important;
      }

      .pl-checkbox-inner {
        background-color: rgba(0, 0, 0, 0.03) !important;
        color: $disabledDeep !important;
      }
    }
  }

  .pl-checkbox-inner {
    width: 1em;
    height: 1em;

    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;

    &.pl-checkbox-inner-status-check {
      border-color: currentColor;
      background-color: currentColor;

      .pl-checkbox-inner-check-polyline {
        fill: transparent;
        stroke: white;
        stroke-width: 10;
      }
    }

    &.pl-checkbox-inner-status-uncheck {
      border-color: currentColor;
      background-color: transparent;
    }

    &.pl-checkbox-inner-status-minus {
      border-color: currentColor;
      background-color: currentColor;

      .pl-checkbox-inner-minus-polyline {
        fill: currentColor;
        stroke: white;
        stroke-width: 10
      }
    }

    &.pl-checkbox-inner-disabled {
      &.pl-checkbox-inner-status-check {
        background-color: transparent;

        .pl-checkbox-inner-check-polyline {
          stroke: currentColor;
        }
      }

      &.pl-checkbox-inner-status-minus {
        background-color: transparent;

        .pl-checkbox-inner-minus-polyline {
          stroke: currentColor;
        }
      }

    }
  }

  .pl-checkbox-group {
    display: inline-block;
    .pl-checkbox {
      padding-right: 1em;
    }
  }
}