@mixin component-dropdown {
  .pl-dropdown-menu {
    padding: 6px 0;

    .pl-dropdown-item {
      padding: 4px 16px;
      cursor: pointer;
      transition: background-color 300ms $transition;

      .pl-icon {
        padding-right: 0.5em;
      }

      &:hover {
        background-color: rgba($colorPrimary, 0.1);
      }

      &.pl-dropdown-item-disabled {
        background-color: $disabled;
        color: $disabledText;
        cursor: not-allowed;
      }
    }
  }
}