@mixin component-dropdown {
  .pl-dropdown-menu {
    padding: 6px 0;

    .pl-dropdown-item {
      padding: 4px 16px;
      cursor: pointer;
      transition: background-color 300ms $transition;

      .pl-icon {
        padding-right: 0.5em;
        color: $icc;
      }

      &:hover {
        background-color: rgba($colorPrimary, 0.1);
      }

      &.pl-dropdown-item-disabled {
        color: $disabledText;
        cursor: not-allowed;
      }
    }
  }

  .pl-dropdown-group {

    &:not(:last-child) {
      padding-bottom: 3px;
      margin-bottom: 3px;
      border-bottom: solid 1px $ibl;
    }

    .pl-dropdown-group-label {
      font-size: 12px;
      color: $icc;
      background-color: white;
      padding: 6px 8px;
    }
  }

  [pl-dropdown] {
    cursor: pointer;
    user-select: none;

    .pl-icon {
      &.el-icon-arrow-down, &.pl-dropdown-icon {
        transition: transform $transition 300ms;
      }
    }
  }

  [pl-dropdown=open] {
    .pl-icon {
      &.el-icon-arrow-down, &.pl-dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }

}