@mixin component-number {
  .pl-number {
    display: inline-table;
    width: initial;

    .pl-input-inner {
      position: relative;
      padding: 1px 30px !important;

      input {
        text-align: center;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        float: left;
      }

      .pl-number-prepend-button, .pl-number-append-button {
        position: absolute;
        top: 1px;
        bottom: 1px;
        width: 30px;
        text-align: center;
        background-color: #f5f7fa;
        cursor: pointer;
        outline: none;

        .pl-icon {
          vertical-align: 0.15em;
        }

        &.pl-number-prepend-button {
          left: 1px;
          border-right: solid 1px #dcdfe6;
        }

        &.pl-number-append-button {
          right: 1px;
          border-left: solid 1px #dcdfe6;
        }

        &:active {
          background-color: #e1e1e1;
        }
      }
    }
  }
}