$include-record-map: (default:()) !global;

@mixin include-once($tag) {
  @if ($globalThemeName == '') {
    $globalThemeName: 'default';
  }
  $cur-theme: map_get($include-record-map, $globalThemeName) !global;
  @if (type_of($cur-theme) == 'null') {
    $cur-theme: ($tag:null) !global;
  }
  $cur-flag: map_get($cur-theme, $tag) !global;
  @if ($cur-flag == null) {
    @content;

    $cur-theme: map_merge($cur-theme, ($tag:true));
    $include-record-map: map_merge($include-record-map, ($globalThemeName:$cur-theme)) !global;
  }
}

@mixin font-mixin() {
  @include include-once(font) {
    font-family: $font;
  }
}