@include theme{
  .pl-arrow-step-group {
    display: flex;
    align-items: center;
    height: 40px;

    .pl-arrow-step {
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      position: relative;

      .pl-arrow-step-sequence {
        font-style: italic;
        font-size: 1.2em;
        opacity: 0.6;
      }

      .pl-arrow-step-content {
        flex: 1;
        overflow: hidden;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        color: white;
      }

      .pl-triangle {

        &.pl-triangle-direction-top, &.pl-triangle-direction-bottom {
          position: absolute;
          right: 100%;

          &.pl-triangle-direction-top {
            bottom: 0;
          }

          &.pl-triangle-direction-bottom {
            top: 0;
          }
        }
      }

      .pl-arrow-step-content, .pl-triangle {
        @include transition;
      }

      &:not(:first-child) {
        margin-left: 4px;
      }

      &.pl-arrow-step-status-wait {
        .pl-arrow-step-content {
          background-color: $disabled;
          color: $itl;
        }

        .pl-triangle {
          color: $disabled;
        }
      }

      &.pl-arrow-step-status-process, &.pl-arrow-step-status-finish {
        .pl-arrow-step-content {
          background-color: $colorPrimary;
          color: white;
        }

        .pl-triangle {
          color: $colorPrimary;
        }
      }

      &.pl-arrow-step-status-success {
        .pl-arrow-step-content {
          background-color: $colorSuccess;
          color: white;
        }

        .pl-triangle {
          color: $colorSuccess;
        }
      }

      &.pl-arrow-step-status-error {
        .pl-arrow-step-content {
          background-color: $colorError;
          color: white;
        }

        .pl-triangle {
          color: $colorError;
        }
      }
    }
  }
}