@include theme {
  .pl-checkbox {
    @include public-style;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    outline: none;
    font-size: 14px;

    .plain-click-node {
      height: 1em;
      width: 1em;
      display: inline-block;
      vertical-align: -0.15em;

      .pl-checkbox-inner {
        transition: all 150ms linear;
        float: left;
      }

      & + .pl-checkbox-label {
        margin-left: 0.5em;
      }
    }

    .pl-checkbox-label {
      display: inline-block;
    }

    @include statusMixin(checkbox) {
      .plain-click-node {
        .pl-checkbox-inner {
          color: $value;
        }

        &:after {
          border-color: $value;
        }
      }
    }

    &.pl-checkbox-status-error {
      &.pl-checkbox-check-status-check {
        .pl-checkbox-label {
          color: $colorError;
        }
      }
    }

    &.pl-checkbox-size-large {
      font-size: 16px;
    }

    &.pl-checkbox-size-normal {
      font-size: 14px;
    }

    &.pl-checkbox-size-mini {
      font-size: 12px;
    }

    &:focus {
      .pl-checkbox-label {
        text-decoration: underline;
      }
    }

    &.pl-checkbox-disabled {
      cursor: not-allowed;

      .pl-checkbox-label {
        color: $disabledText !important;
      }

      .pl-checkbox-inner {
        border-color: currentColor !important;
        background-color: $disabled !important;
        color: $disabledText !important;
      }
    }
  }

  .pl-checkbox-group {
    width: 100%;
  }
}