@include theme {
  .pl-dropdown-option {
    padding: 5px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $itc;
    background-color: white;
    transition: background-color linear 200ms;

    .pl-dropdown-option-icon {
      margin-right: 6px;
      opacity: 0.5;
    }

    &:not(.pl-dropdown-option-disabled):hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &.pl-dropdown-option-disabled {
      color: $disabledText;
      cursor: not-allowed;
    }
  }

  .pl-dropdown-group {

    .pl-dropdown-group-title {
      font-size: 12px;
      color: $itl;
      background-color: #f2f2f2;
      padding: 0 12px;
    }

    .pl-dropdown-group-content {
      border-bottom: solid 1px #f2f2f2;
      padding: 4px 0;
    }
  }
}