@include theme {
  .pl-tabs {
    .pl-tabs-collector {
      height: 0;
      width: 0;
      overflow: hidden;
      display: inline-block;
    }

    .pl-tabs-header {
      height: 45px;
      /*background-color: #697b8c;*/
      box-sizing: border-box;
      overflow-x: hidden;

      .pl-tabs-header-list {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: stretch;
        height: 100%;
        position: relative;
        border-bottom: solid 1px $ibc;
        box-sizing: border-box;

        .pl-tabs-header-item {
          display: inline-block;
          flex-shrink: 0;
          flex-grow: 0;
          line-height: 45px;
          font-size: 14px;
          cursor: pointer;

          & + .pl-tabs-header-item {
            margin-left: 32px;
          }

          &:hover, &.pl-tabs-header-item-active {
            color: $colorPrimary;
          }
        }
      }

      .pl-tabs-header-indicator {
        position: absolute;
        bottom: -1px;
        height: 2px;
        background-color: $colorPrimary;
        transition-property: width, left;
        transition-duration: 200ms;
        transition-timing-function: $transitionFlexible;
        width: 0;
      }
    }

    .pl-tabs-body {
      position: relative;
      margin-top: 20px;
    }
  }

  /*transition*/

  .pl-inner-tab {
    transform-origin: left top;
    transition: all 500ms $transition;
  }

  .pl-transition-tab-enter-active, .pl-transition-tab-leave-active {
    opacity: 1;
  }

  .pl-transition-tab-enter, .pl-transition-tab-leave-to {
    opacity: 0;
  }

  .pl-transition-tab-leave-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}