@include theme {
  .pl-tab-group {
    .pl-tab-group-slot {
      display: none;
    }

    .pl-tab-group-horizontal {

      .pl-tab-group-inner-tab-list {
        padding: 20px 0;
      }

      /*---------------------------------------transition-------------------------------------------*/

      .pl-inner-tab {
        transform-origin: left top;
        transition: all 500ms $transition;
      }

      .pl-transition-tab-enter-active, .pl-transition-tab-leave-active {
        opacity: 1;
      }

      .pl-transition-tab-enter, .pl-transition-tab-leave-to {
        opacity: 0;
        transform: translateX(30px);
      }

      .pl-transition-tab-leave-active {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

  }
}