@include theme {
  .pl-badge {
    @include public-style;
    display: inline-block;
    vertical-align: baseline;
    position: relative;

    .pl-badge-content {
      position: absolute;
      font-size: 12px;
      padding: 2px 4px;
      border: solid 1px white;

      @include statusMixin(badge-content) {
        background-color: $value;
        border-radius: 100px;
        color: white;
      }

      &.pl-badge-content-top {
        top: 0;

        &.pl-badge-content-start {
          transform: translate(-50%, -50%);
        }

        &.pl-badge-content-end {
          transform: translate(50%, -50%);
        }
      }

      &.pl-badge-content-bottom {
        bottom: 0;

        &.pl-badge-content-start {
          transform: translate(-50%, 50%);
        }

        &.pl-badge-content-end {
          transform: translate(50%, 50%);
        }
      }

      &.pl-badge-content-start {
        left: 0;
      }

      &.pl-badge-content-end {
        right: 0;
      }

      &.pl-badge-content-dot {
        height: 12px;
        width: 12px;
        padding: 0;
      }
    }
  }
}