@include theme {
  .pl-color-panel {
    display: inline-block;
    font-size: 0;
    padding: 0 12px;

    & > div:first-child {
      white-space: nowrap;
    }

    .pl-color-hue-slider {
      margin-top: 8px;
      display: block;
    }

    .pl-color-alpha-slider {
      margin-left: 8px;
    }

    .pl-color-panel-input-group {
      margin-top: 8px;

      .pl-input {

        .pl-input-inner {
          text-align: center;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: none;
        }
      }

      .pl-button-group {
        & > .pl-button:first-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-left: none;
        }
      }
    }
  }
}