.pl-dialog-service-edit {
  .pl-textarea, .pl-textarea-inner {
    height: 100%;
  }
}

@include theme {
  .pl-dialog-service {
    @include statusMixin(dialog-service) {
      .pl-dialog-service-head {
        .pl-dialog-service-status-icon {
          color: $value;
          font-size: 24px;
          margin-right: 8px;
          vertical-align: -0.25em;
        }
      }
    }
  }
}