.pl-dialog-service-edit {
  .pl-dialog-content {
    & > .pl-textarea {
      display: block !important;
      height: 100%;

      .pl-textarea-inner {
        height: 100%;
      }
    }
  }
}

@include theme {
  .pl-dialog-service {
    @include statusMixin(dialog-service) {
      .pl-dialog-service-head {
        .pl-dialog-service-status-icon {
          color: $value;
          font-size: 24px;
          margin-right: 8px;
          vertical-align: -0.25em;
        }
      }
    }
  }
}