.pl-dialog-service-edit {
  .pl-dialog-body {
    .pl-dialog-content {
      padding-bottom: 0;
    }
  }

  .pl-textarea, .pl-textarea-inner {
    height: 100%;
  }
}

@include theme {
  .pl-dialog-service {
    @include statusMixin(dialog-service) {
      .pl-dialog-service-item-message {
        white-space: pre-wrap;

        .pl-icon {
          color: $value;
          font-size: 24px;
          vertical-align: middle;
          margin-right: 14px;
        }
      }
    }
  }
}