@include theme {
  .pl-time-base-column {

    $item_height: 24px;

    display: inline-block;
    height: 7*$item_height;
    width: 60px;
    border: solid $ibc 1px;
    border-radius: 2px;

    .pl-time-base-column-list {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;

      .pl-time-base-column-item {
        font-size: 12px;
        height: $item_height;
        line-height: $item_height;
        transition: all 300ms $transition;
        text-align: center;

        &.pl-time-base-column-option-item {
          cursor: pointer;

          &:hover {
            background-color: rgba($colorInfo, 0.1);
            color: $ihc;
          }
        }

        &.pl-time-base-column-item-disabled {
          color: $disabledText;
          cursor: not-allowed;

          &:hover {
            color: $disabledText;
            background-color: transparent;
          }
        }

        &.pl-time-base-column-item-current {
          background-color: rgba($colorPrimary, 0.1);
          color: $colorPrimary;

          &:hover {
            color: $colorPrimary;
          }
        }
      }
    }
  }

  .pl-time-base-panel {
    border: solid $ibc 1px;
    border-radius: $popperRadius;
    display: inline-block;
    position: relative;
    color: $itc;

    $item_height: 24px;

    &:before {
      position: absolute;
      top: $item_height*3;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba($ibc, 0.5);
      content: '';
      pointer-events: none;
    }

    &:after {
      position: absolute;
      bottom: $item_height*3 + 3;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba($ibc, 0.5);
      content: '';
      pointer-events: none;
    }

    .pl-time-base-column {
      border: none;

      & + .pl-time-base-column {
        border-left: dashed 1px $ibc;
      }
    }
  }

  .pl-time-range-panel {
    border: solid $ibc 1px;
    border-radius: $popperRadius;
    display: inline-block;

    .pl-time-base-panel {
      border: none;

      &:first-child {
        border-right: solid 1px $ibc;
        border-radius: 0;
      }
    }
  }

  .pl-time-service-popper {
    .plain-popper-content {
      padding: 0 !important;

      & > .pl-time-base-panel, & > .pl-time-range-panel {
        border: none;
      }
    }
  }

  .pl-time {
    .pl-time-inner {
      display: flex;
      align-items: stretch;
      height: 100%;

      & > span {
        color: $icc;
      }

      .pl-time-input-inner {
        border: none;
        outline: none;
        width: 90px;
        height: 100%;
        background: transparent;
      }
    }

    &.pl-time-range {
      .pl-time-input-inner {
        text-align: center;
      }
    }

    .pl-input-inner {
      width: auto !important;
    }
  }
}