@include theme {
  .pl-form {
    text-align: center;
    overflow-x: auto;
    padding: 12px 0;

    & > .pl-form-body {
      text-align: initial;
      display: inline-block;
      position: relative;
      justify-content: space-evenly;
      color: $itc;
      white-space: normal;
      flex-shrink: 0;
    }

    .pl-form-item {
      display: inline-flex;
      margin-bottom: 18px;
      vertical-align: top;
      box-sizing: border-box;

      .pl-form-item-label {
        line-height: normal;
        align-items: flex-start;
        padding-right: 16px;
      }

      .pl-form-item-body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        & > * {
          flex-shrink: 0;
        }
      }

      .pl-form-item-message {
        position: absolute;
        top: 100%;
        left: 0;
        color: $colorError;
        font-size: 12px;
      }

      .pl-form-item-suffix {
        padding-left: 10px;
        box-sizing: border-box;
      }

      &:not(.pl-form-item-static-width) {
        .pl-form-item-label {
          flex: 1;
          flex-shrink: 0;
          overflow: visible;
          white-space: nowrap;
        }
      }

      @each $align in (left, center, right) {
        &.pl-form-item-label-align-#{$align} {
          .pl-form-item-label {
            text-align: $align
          }
        }
      }
      @each $content in (flex-start, center, flex-end, space-between, space-around, space-evenly) {
        &.pl-form-item-content-align-#{$content} {
          .pl-form-item-body {
            justify-content: $content;
          }
        }
      }

      &.pl-form-item-required {
        .pl-form-item-label {
          &:before {
            content: '*';
            color: $colorError;
            position: relative;
            top: 2px;
            right: 12px;
            width: 0;
            display: inline-block;
          }
        }
      }

      @include sizeMixin(form-item) {
        .pl-form-item-label {
          font-size: 16px;
          line-height: $value;
        }
      }

      &.pl-form-item-size-large {
        .pl-form-item-label {
          font-size: 16px;
        }
      }

      &.pl-form-item-size-normal {
        .pl-form-item-label {
          font-size: 14px;
        }
      }

      &.pl-form-item-size-mini {
        .pl-form-item-label {
          font-size: 12px;
        }
      }
    }

    &.pl-form-inline {
      .pl-form-item {
        & + .pl-form-item {
          margin-left: 8px;
        }
      }
    }
  }

  .pl-form {
    .pl-form-item-body {

      /*input*/
      & > .pl-input, & > .pl-textarea {
        flex: 1;
        flex-shrink: 0;

        .pl-input-inner, .pl-textarea-inner {
          width: 100%;
        }

        &.pl-input-custom {
          .pl-input-inner {
            width: 100% !important;

            input {
              width: 100% !important;
            }
          }
        }
      }

      /*button*/
      & > .pl-button + .pl-button {
        margin-left: 8px;
      }

      & > .pl-button-group {
        & > .pl-button + .pl-button {
          margin-left: 0;
        }
      }

      /*checkbox and radio*/
      & > .pl-checkbox-group, & > .pl-radio-group {
        display: flex;
        align-items: center;
        flex-wrap: inherit;
        justify-content: inherit;

        & > * {
          flex-shrink: 0;
        }
      }
    }

    .pl-form-item {
      &.pl-form-item-size-large {
        .pl-form-item-body {
          & > .pl-checkbox-group, & > .pl-radio-group {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
      }

      &.pl-form-item-size-normal {
        .pl-form-item-body {
          & > .pl-checkbox-group, & > .pl-radio-group {
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
      }

      &.pl-form-item-size-mini {
        .pl-form-item-body {
          & > .pl-checkbox-group, & > .pl-radio-group {
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
}