@include theme {
  $tableHeadColor: rgba(0, 0, 0, 0.85);
  $tableHeadBackground: #f5f7fa;
  $tableHeadHoverBackground: #e4e7ef;
  $tableHeadBorder: solid 1px #f0f0f0;

  $tableBodyBorder: solid 1px #f0f0f0;
  $tableBodyColor: rgba(0, 0, 0, 0.65);

  $tableRowHoverBackground: #f5f7fa;
  $tableRowCurrentBackground: rgba($colorPrimary, 0.075);

  .pl-table {
    .plt-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
      box-sizing: border-box;
      list-style: none;

      td {
        position: relative;
        box-sizing: border-box;
        padding: 0;
      }
    }

    .pl-scroll-content {
      min-width: 100%;
    }

    .pl-vertical-scrollbar-wrapper {
      z-index: 10;
    }

    .plt-body {
      overflow: hidden;
    }
  }

  .pl-virtual-table {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    table {

      &:after {
        content: '';
        display: inline-block;
        height: 12px;
        width: 100%;
      }
    }

    .pl-virtual-table-summary-table {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $tableHeadBackground;
    }
  }

}