@include theme {
  $tableHeadColor: rgba(0, 0, 0, 0.85);
  $tableHeadBackground: #f5f7fa;
  $tableHeadHoverBackground: #e4e7ef;
  $tableHeadBorder: solid 1px #f0f0f0;

  $tableBorderColor: #ddd;
  $tableBodyBorder: solid 1px $tableBorderColor;
  $tableBodyColor: rgba(0, 0, 0, 0.65);

  $tableRowHoverBackground: #f5f7fa;
  $tableRowCurrentBackground: rgba($colorPrimary, 0.075);

  .pl-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    list-style: none;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      box-sizing: border-box;

      tr {
        @include transition;
        transition-property: background-color;
        &:hover {
          background-color: $tableRowHoverBackground;
        }

        td {
          padding: 0;
          position: relative;

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $tableBorderColor;
            content: '';
            transform: scaleY(0.5);
          }

          & > div {
            padding: 0 8px;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .pl-scroll {
      .pl-scroll-content {
        min-width: 100%;
      }

      .pl-vertical-scrollbar-wrapper {
        z-index: 10;
      }
    }

    .plt-head {
      background-color: $tableHeadBackground;

      td {
        color: $tableHeadColor;
        @include transition;
        transition-property: background-color;

        &:hover {
          background-color: $tableHeadHoverBackground;
        }
      }
    }

    .plt-body {
      overflow: hidden;

      td {
        color: $tableBodyColor;
      }
    }

    &.pl-table-size-large {
      td {
        font-size: 16px;
      }
    }

    &.pl-table-size-normal {
      td {
        font-size: 14px;
      }
    }

    &.pl-table-size-mini {
      td {
        font-size: 12px;
      }
    }
  }

  .pl-virtual-table {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    table {

      &:after {
        content: '';
        display: inline-block;
        height: 12px;
        width: 100%;
      }
    }

    .pl-virtual-table-summary-table {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $tableHeadBackground;
    }
  }

}