@include theme {
  .pl-upload {

    .pl-upload-item {
      position: relative;

      .pl-upload-item-inner {
        padding: 6px 9px;
        font-size: 12px;
        color: $itc;
        position: relative;
        z-index: 2;

        & > .pl-icon:first-child {
          color: $icc;
        }

        & > .pl-icon, & > .pl-loading {
          margin-right: 8px;
        }
      }

      .pl-upload-item-progress {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        z-index: 1;

        .pl-upload-item-progress-inner {
          transition: all 1s linear;
          height: 100%;
          background-color: rgba($colorPrimary, 0.2);
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
          z-index: -1;
        }
      }

      .pl-upload-item-content {
        display: inline-block;
      }

      & + .pl-upload-item {
        margin-top: 8px;
      }

      &.pl-upload-item-status-success {
        .pl-upload-item-inner {
          &, & > .pl-icon {
            color: $colorPrimary;
          }
        }
      }

      &.pl-upload-item-status-error {
        .pl-upload-item-inner {
          &, & > .pl-icon {
            color: $colorError;
          }
        }
      }

      &.pl-upload-item-status-ready {
        .pl-upload-item-inner {
          &, & > .pl-icon {
            color: $colorWarn;
          }
        }
      }
    }

    &.pl-upload-preview {
      .pl-upload-item {
        .pl-upload-item-content {
          &:hover {
            text-decoration: underline;
            color: $colorPrimary;
            cursor: pointer;
          }
        }
      }
    }

    &.pl-upload-remove {
      .pl-upload-item {
        .pl-upload-item-inner {
          padding-right: 32px;
        }

        .pl-upload-item-remove {
          width: 32px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: $icc;
          transition: all 300ms linear;

          &:hover {
            background-color: $colorError;

            .pl-icon {
              color: white;
            }
          }
        }
      }
    }

    &.pl-upload-single {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;

      & > .pl-button-group:first-child {
        & > .pl-button:last-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .pl-upload-item {
        flex: 1;
        border: solid 1px $ibc;
        border-left: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    &.pl-upload-multiple {
      .pl-upload-button {

      }

      .pl-upload-list {
        margin-top: 8px;

        .pl-upload-item {
          border: dashed 1px $ibc;
        }
      }

      .pl-upload-drop-area {
        display: flex;
        flex-direction: column;
        padding: 12px;
        align-items: center;
        justify-content: center;
        border: dashed 1px $ibc;
        cursor: pointer;

        & > .pl-icon {
          font-size: 32px;
          color: $colorPrimary;
          margin-bottom: 8px;
        }

        .pl-upload-drop-upload-button {
          margin-left: 8px;
        }
      }

      &.pl-upload-disabled {
        .pl-upload-drop-area {
          color: $disabledText;

          & > .pl-icon {
            color: $icc;
          }
        }
      }
    }


  }
}