@import "../../../../submodules/plain-loading/src/index";
@import "wave";

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.pl-select-none {
  user-select: none;
}

.pl-service-controller {
  position: fixed;
  top: -9999px;
  left: -9999px;
  z-index: 9999;
}