@mixin component-box {

  .pl-type-fill {
    @include plColors {
      &.pl-color-#{$key} {
        background-color: $value;
        border: solid 1px $value;
        &, & input, & textarea {
          color: white;
        }
      }
    }
  }

  .pl-type-line {
    @include plColors {
      &.pl-color-#{$key} {
        border: solid 1px $value;
        box-sizing: border-box;
        &, & input, & textarea {
          color: $colorDeep;
        }
      }
    }
  }

  .pl-type-none {
    @include plColors {
      &.pl-color-#{$key} {
        &, & input, & textarea {
          color: $colorDeep;
        }
      }
    }
  }

  @include plShapes {
    .pl-shape-#{$key} {
      border-radius: $value;
    }
  }

  @include plSizes {
    .pl-size-#{$key} {
      height: $value;
    }
  }

}