@mixin component-button {
  .pl-button {
    border: none;
    padding: 0 plVar(padding);
    cursor: pointer;
    min-width: 68px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    @include plColors {
      &.pl-color-#{$key} {
        &:active {
          background-color: $colorDeep;
          position: relative;
          top: 1px;
          bottom: 1px;
        }
      }
    }
    &.pl-button-long {
      width: 100%;
    }
    &.pl-button-no-padding {
      padding: 0;
    }
    @include plSizes {
      &.pl-button-circle.pl-size-#{$key} {
        height: $value;
        width: $value;
        border-radius: $value;
        padding: 0;
        min-width: initial;
      }
    }
  }

}