@mixin component-button {
  .pl-button {
    border: none;
    padding: 0 plVar(padding);
    cursor: pointer;
    min-width: 68px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    outline: none;
    box-sizing: border-box;
    vertical-align: middle;

    .pl-loading {
      margin-right: 0.5em;
    }

    &.pl-align-left {
      justify-content: flex-start;
    }

    &.pl-align-center {
      justify-content: center;
    }

    &.pl-align-right {
      justify-content: flex-end;
    }

    @include plColors {
      &.pl-color-#{$key} {
        &:active {
          background-color: $colorDeep;
          position: relative;
          top: 1px;
          left: 1px;
        }

        &.pl-type-fill {
          &.pl-button-active {
            background-color: $colorDeep;
          }

          .pl-loading {
            .pl-icon {
              color: white;
            }

            .pl-loading-default-item {
              background-color: white;
            }
          }
        }

        &.pl-type-none, &.pl-type-line {
          &:active {
            background-color: $colorLighter;
          }

          &.pl-button-active {
            background-color: $colorLighter;
          }

          .pl-loading {
            .pl-icon {
              color: $value;
            }

            .pl-loading-default-item {
              background-color: $value;
            }
          }
        }

        &:focus {
          border-color: $colorDeep;
        }
      }
    }

    &.pl-button-long {
      width: 100%;
    }

    &.pl-button-loading {
      opacity: 0.8;
      cursor: not-allowed;
    }

    &.pl-button-no-padding {
      padding: 0;
    }

    &:not(.pl-button-circle) {
      .pl-button-icon {
        margin-right: 0.25em;
      }

      &.pl-button-right-icon {
        flex-direction: row-reverse;

        .pl-button-icon {
          margin-right: 0;
          margin-left: 0.25em;
        }
      }
    }

    &.pl-button-disabled {
      background-color: plVar(colorDisabled);
      border: solid 1px plVar(colorDisabled);
      cursor: not-allowed;

      &:active {
        background-color: plVar(colorDisabled);
      }
    }

    @include plSizes {
      &.pl-button-circle.pl-size-#{$key} {
        height: $value;
        width: $value;
        border-radius: $value;
        padding: 0;
        min-width: initial;
      }
      &.pl-size-#{$key} {
        font-size: $value/2.5;
      }
    }
  }

  .pl-button-group {
    display: inline-flex;
    vertical-align: middle;

    .pl-button {
      border-radius: 0;
    }

    @include plColors {
      &.pl-button-group-color-#{$key} {
        .pl-button.pl-type-fill {
          background-color: $value;
          border-color: $value;
          color: white;

          &:active {
            background-color: $colorDeep;
          }

          &.pl-button-active {
            background-color: $colorDeep;
          }
        }

        .pl-button.pl-type-line {
          background: transparent;
          border: solid 1px $value;
          color: plVar(colorPrimary);

          &.pl-button-active, &:active {
            background-color: $colorLighter;
          }
        }

        .pl-button.pl-type-none {
          background-color: transparent;
          color: plVar(colorPrimary);
          border: none;

          &.pl-button-active, &:active {
            background-color: $colorLighter;
          }
        }
      }
    }

    &.pl-button-group.pl-button-group-horizontal {
      flex-direction: row;

      .pl-button {
        margin-left: -2px;
      }

      @include plColors {
        &.pl-button-group-color-#{$key} {
          .pl-button:not(:first-child) {
            border-left-color: $colorLight;
          }

          .pl-button:not(:last-child) {
            border-right-color: $colorLight;
          }
        }
      }
      @include plShapes {
        &.pl-button-group-shape-#{$key} {
          .pl-button:first-child {
            border-top-left-radius: $value;
            border-bottom-left-radius: $value;
          }

          .pl-button:last-child {
            border-top-right-radius: $value;
            border-bottom-right-radius: $value;
          }
        }
      }
    }

    &.pl-button-group.pl-button-group-vertical {
      flex-direction: column;

      .pl-button {
        margin-top: -2px;
      }

      @include plColors {
        &.pl-button-group-color-#{$key} {
          .pl-button:not(:first-child) {
            border-top-color: $colorLight;
          }

          .pl-button:not(:last-child) {
            border-bottom-color: $colorLight;
          }
        }
      }
      @include plShapes {
        &.pl-button-group-shape-#{$key} {
          .pl-button:first-child {
            border-top-left-radius: $value;
            border-top-right-radius: $value;
          }

          .pl-button:last-child {
            border-bottom-left-radius: $value;
            border-bottom-right-radius: $value;
          }
        }
      }
    }

  }
}
