@mixin component-carousel {
  .pl-carousel {
    @include public-style;
    overflow: hidden;
    display: inline-block;
    position: relative;

    &, & .pl-carousel-content, & .pl-carousel-item {
      height: 100%;
      width: 100%;
    }

    .pl-carousel-content {
      @include transition-all-cubic-bezier;
      white-space: nowrap;
      position: relative;

      &.pl-carousel-content-moving {
        transition: initial;
      }

      .pl-carousel-item {
        display: inline-block;
      }
    }

    $dot-size: 9px;

    .pl-carousel-dot {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .pl-carousel-dot-item {
        @include transition-all-cubic-bezier;
        height: $dot-size/3;
        width: $dot-size;
        border-radius: $dot-size;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;

        &:not(:last-child) {
          margin-right: $dot-size;
        }

        &.pl-carousel-dot-item-active {
          background-color: rgba(255, 255, 255, 1);
          width: 2.5*$dot-size;
        }
      }
    }

    .pl-carousel-prev-button, .pl-carousel-next-button {
      @include transition-all-cubic-bezier;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 13%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 12px;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      opacity: 0;

      .pl-icon {
        width: 100%;
        height: auto;
      }

      &.pl-carousel-prev-button {
        left: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
        transform: translateX(-25%);
      }

      &.pl-carousel-next-button {
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
        transform: translateX(25%);
      }
    }

    &:hover {
      .pl-carousel-prev-button, .pl-carousel-next-button {
        opacity: 1;
        transform: translateX(0);
        color: white;
      }
    }
  }
}