@mixin component-dialog {
  $head-height: 40px;
  $dialog-types: (
          info:plVar(colorPrimary),
          warn:plVar(colorWarn),
          error:plVar(colorError),
          success:plVar(colorSuccess),
          help:plVar(colorInfo),
  );
  .pl-dialog {
    @include public-style;
    @include transition-all;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    .pl-dialog-content {
      position: relative;
      background-color: white;
      box-shadow: 0 2px 12px 0 rgba(white, .5);
      overflow: hidden;

      @include transition-all;

      .pl-dialog-head, .pl-dialog-foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 plVar(padding);
      }

      .pl-dialog-head {
        border-bottom: solid 1px plVar(colorBorder);
        height: $head-height;
        font-weight: bold;
        box-sizing: border-box;
        background-color: #f2f2f2;

        .pl-dialog-type-icon {
          margin-right: plVar(padding)/2;
        }

        .pl-dialog-head-operator {
          .pl-icon {
            @include transition-all;
            cursor: pointer;
            color: plVar(colorSuccess);

            &:hover {
              transform: scale(1.3);
            }

            &:not(:first-child) {
              margin-left: 0.5em;
            }

            &.pl-dialog-close-icon {
              color: plVar(colorContent);
            }
          }
        }
      }

      .pl-dialog-body {
        box-sizing: border-box;
        overflow: auto;
      }

      .pl-dialog-foot {
        justify-content: flex-end;
        box-sizing: border-box;
        height: 40px;
        border-top: solid 1px plVar(colorBorder);

        .pl-button {
          margin-left: 12px;
        }

        &.pl-dialog-foot-align-left {
          justify-content: flex-start;
        }

        &.pl-dialog-foot-align-center {
          justify-content: center;
        }

        &.pl-dialog-foot-align-right {
          justify-content: flex-end;
        }
      }
    }

    &.pl-dialog-animate-drop-enter-active, &.pl-dialog-animate-drop-leave-active {
      opacity: 1;

      .pl-dialog-content {
        transform: translateY(0);
      }
    }

    &.pl-dialog-animate-drop-enter, &.pl-dialog-animate-drop-leave-to {
      opacity: 0;

      .pl-dialog-content {
        transform: translateY(5vh);
      }
    }

    &.pl-dialog-scale-enter-active, &.pl-dialog-scale-leave-active {
      .pl-dialog-content {
        transform: scale(1);
      }
    }

    &.pl-dialog-scale-enter, &.pl-dialog-scale-leave-to {
      .pl-dialog-content {
        transform: scale(1.1);
        opacity: 0;
      }
    }

    @each $key, $value in $dialog-types {
      &.pl-dialog-type-#{$key} {
        .pl-dialog-title {
          color: $value;
          display: flex;
          align-items: center;
        }
      }
    }
    @include plShapes {
      &.pl-dialog-shape-#{$key} {
        .pl-dialog-content {
          border-radius: $value;
        }
      }
    }

    &.pl-dialog-full-size {
      .pl-dialog-content {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        bottom: inherit !important;
        right: inherit !important;
      }
    }

    &.pl-dialog-padding {
      .pl-dialog-body {
        padding: plVar(padding);
        box-sizing: plVar(padding);
      }
    }

    &.pl-dialog-horizontal-start {
      justify-content: flex-start;
    }

    &.pl-dialog-horizontal-center {
      justify-content: center;
    }

    &.pl-dialog-horizontal-end {
      justify-content: flex-end;
    }

    &.pl-dialog-vertical-start {
      align-items: flex-start;
    }

    &.pl-dialog-vertical-center {
      align-items: center;
    }

    &.pl-dialog-vertical-end {
      align-items: flex-end;
    }
  }

  .pl-dialog-service {
    .pl-dialog-service-center {
      height: 100%;
      width: 100%;
      text-align: center;

      .pl-textarea {
        height: 100%;
        width: 100%;
      }
    }
  }

  .pl-dialog-service-edit-wrapper {
    height: 100%;

    .pl-input {
      width: 100% !important;
    }

    .pl-textarea {
      width: 100%;
      height: 100%;

      textarea {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
