@mixin component-form {
  .pl-form {
    & > .pl-form-item {
      margin-right: 20px;
    }

    .pl-form-item {
      margin-bottom: 20px;
    }

    &.pl-form-text-align-left {
      .pl-form-item .pl-form-item-label {
        text-align: left;
      }
    }

    &.pl-form-text-align-center {
      .pl-form-item .pl-form-item-label {
        text-align: center;
      }
    }

    &.pl-form-text-align-right {
      .pl-form-item .pl-form-item-label {
        text-align: right;
      }
    }
  }
  .pl-form-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    .pl-form-item {
      display: block;
    }
  }
  .pl-form-item {
    display: inline-block;
    vertical-align: middle;
    .pl-form-item-label {
      display: inline-block;
      white-space: nowrap;
      font-size: 12px;
      font-weight: bolder;
      color: plVar(colorSubTitle);
    }
    &.pl-form-item-block {
      display: block !important;
    }
  }

  .pl-edit-control {
    visibility: visible;
    width: max-content;
    background-color: plVar(colorError);
    color: white;
    font-size: 12px;
    /* 定位 */
    position: absolute;
    z-index: 1;
    top: calc(100% + 3px);
    right: 0;
    border-radius: 4px;
    transform: scale(0.75);
    padding: 3px 6px;
    transform-origin: top right;
    @include transition-all;
    span {
      display: inline-block;
    }
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      right: 10%;
      border: 3px solid transparent;
      border-bottom-color: plVar(colorError);
    }

    &.pl-edit-scale-enter, &.pl-edit-scale-leave-to {
      transform: scale(0);
      opacity: 0;
    }
  }
}