@mixin component-form {
  .pl-edit-control {
    visibility: visible;
    width: max-content;
    background-color: plVar(colorErrorLight);
    color: white;
    font-size: 12px;
    /* 定位 */
    position: absolute;
    z-index: 1;
    top: calc(100% + 3px);
    right: 0;
    border-radius: 4px;
    transform: scale(0.75);
    padding: 3px 6px;
    transform-origin: top right;
    @include transition-all;
    span {
      display: inline-block;
    }
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      right: 10%;
      border: 3px solid transparent;
      border-bottom-color: plVar(colorErrorLight);
    }

    &.pl-edit-scale-enter, &.pl-edit-scale-leave-to {
      transform: scale(0);
      opacity: 0;
    }
  }
}