@mixin component-img {
  $img-border-color: #ddd;

  /*pl-img*/

  .pl-img {
    display: inline-block;
    position: relative;
    overflow: hidden;

    .pl-img-el {
      object-fit: cover;
      object-position: center;
      border-radius: plVar(borderFillet);
    }

    .pl-img-empty, .pl-img-loading, .pl-img-error, .pl-img-uploading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pl-img-loading {
      background-color: rgba(black, 0.25);
    }

    .pl-img-empty, .pl-img-error {
      border: dashed $img-border-color 1px;

      .pl-icon-tag {
        font-size: 20px;
        color: $img-border-color;
      }

      .pl-icon-error {
        color: plVar(colorError) !important;
      }
    }

    .pl-img-error {
      border-color: plVar(colorError);
    }

    .pl-img-operator {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 50%;
      background-color: rgba(black, 0.5);
      display: flex;

      .pl-img-operator-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }

    .pl-img-uploading {
      .pl-progress-mini {
        opacity: 0.75;
      }
    }

    &:hover:not(.pl-img-disabled) {
      cursor: pointer;

      .pl-img-empty {
        border-color: plVar(colorPrimary);
      }

      .pl-icon-tag {
        color: plVar(colorPrimary);
        transition-property: transform;
      }
    }

    &.pl-img-status-error {
      img {
        opacity: 0;
      }
    }
  }

  img[src=""], img:not([src]) {
    opacity: 0;
  }

  .pl-img-operator-animate-enter-active, .pl-img-operator-animate-leave-active {
    transform: translateY(0);
    transition: transform 0.15s linear;
  }

  .pl-img-operator-animate-enter, .pl-img-operator-animate-leave-to {
    transform: translateY(100%);
  }

  /*图片预览*/
  .pl-img-preview-dialog {
    .pl-dialog-content {
      background-color: transparent !important;
      box-shadow: initial !important;
    }

    .pl-img-preview-item {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
        pointer-events: none;
      }
    }

    .pl-carousel-prev-button, .pl-carousel-next-button {
      .pl-icon {
        font-size: 50px !important;
      }
    }
  }

  /*简单图片*/
  .pl-simple-img {
    display: inline-block;
    text-align: center;

    .pl-icon {
      font-size: 50px;

      span {
        font-size: 14px;
      }
    }

    &.pl-simple-img-status-error {
      color: black;
    }

    &.pl-simple-img-status-empty {
      color: white;
    }
  }
}
