@mixin component-input {
  .pl-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 plVar(paddingSmall);
    background-color: white;
    position: relative;

    input {
      border: none;
      outline: none;
      width: 100%;
      font-size: inherit;
      background-color: transparent;

      &::-ms-clear {
        display: none;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
      }

      &:disabled {
        background-color: initial;
      }
    }

    @include plColors {
      &.pl-type-fill.pl-color-#{$key} {
        color: mix($value, white, 10%);

        input {
          background-color: $value;
          color: inherit;

          &::placeholder {
            color: mix($value, white, 30%);
          }
        }

        .pl-input-close, .pl-input-loading {
          background-color: $value;

          .pl-loading-default-item {
            background-color: white;
          }
        }

        &.pl-input-focus {
          box-shadow: 0 0 6px $value;
          border-color: $value;
        }
      }
      &.pl-color-#{$key} {
        &.pl-input-focus {
          box-shadow: 0 0 6px plVar(colorPrimary);
          border-color: plVar(colorPrimary);
        }
      }
    }

    @include plSizes {
      &.pl-size-#{$key} {
        font-size: $value/2.5;
      }
    }

    .pl-input-inner {
      flex: 1;
      position: relative;

      .pl-input-controller {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: plVar(iconSize);
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: transparent;

        & > * {
          background-color: white;
        }
      }
    }

    &.pl-input-has-icon {
      input {
        width: calc(100% - 1.5em);
      }
    }

    &.pl-input-long {
      width: 100%;
    }

    &.pl-input-disabled {
      background-color: plVar(colorDisabledLight);

      &, & input {
        cursor: not-allowed;
      }
      .pl-input-controller{
        & > * {
          background-color: transparent !important;
        }
      }
    }

    &.pl-input-readonly {
      &, & input {
        cursor: unset;
      }
    }
  }
}