@mixin component-loading {
  .pl-loading {
    display: inline-block;
    vertical-align: middle;
    $size: plVar(iconSize);
    height: $size;
    width: $size;
    .pl-loading-default {
      $centerRadius: (0.5*$size)/1.2;
      $itemWidth: (0.35*$size)/1.2;
      $itemHeight: (0.1*$size)/1.2;
      $width: $centerRadius + $itemWidth * 2;
      $height: $width;
      width: $width;
      height: $height;
      position: relative;
      display: block;
      .pl-loading-default-item {
        display: inline-block;
        width: $itemWidth;
        height: $itemHeight;
        margin-top: $itemHeight / 2 * -1;
        margin-left: $centerRadius / 2;
        top: 50%;
        left: 50%;
        position: absolute;
        transform-origin: ($centerRadius / 2 * -1) ($itemHeight / 2);
        border-radius: 1px;
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            transform: rotate(($i - 1) * 30deg);
            animation: pl-loading-default-item 1s linear infinite #{-1 + $i / 12}s;
          }
        }
        @at-root {
          @keyframes pl-loading-default-item {
            0% {
              opacity: 1;
            }
            @for $i from 1 through 11 {
              #{$i / 12 * 100}% {
                opacity: 1 - $i / 12;
              }
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
    @include plColors {
      &.pl-loading-color-#{$key} {
        .pl-loading-default-item {
          background-color: $colorDeep;
        }
        .pl-icon {
          color: $colorDeep;
        }
      }
    }
    &.pl-loading-color-white {
      .pl-loading-default-item {
        background-color: white;
      }
      .pl-icon {
        color: white;
      }
    }
  }
}