@mixin component-message {
  .pl-message-container {
    position: fixed;
    z-index: 9999;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    pointer-events: none;

    .pl-list {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .pl-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    @each $horizontal in (start, center, end) {
      @each $vertical in (start, center, end) {
        &.pl-message-container-#{$horizontal}-#{$vertical} {
          .pl-list {
            @if $horizontal == center {
              align-items: center;
            } @else {
              align-items: flex-#{$horizontal};
            }
            @if $vertical == center {
              justify-content: center;
            } @else {
              justify-content: flex-#{$vertical};
            }
          }
        }
      }
    }

  }
  .pl-message-item {
    @include public-style;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 4px;
    border: solid 1px;

    @include plColors {
      &.pl-message-item-color-#{$key} {
        background-color: $value;
        border-color: $value;
        color: white;
        box-shadow: 0 2px 12px 0 $value;
      }
    }
    &.pl-message-item-color-black {
      background-color: #333333;
      color: white;
      border-color: #000000;
      box-shadow: 0 2px 12px 0 #333333;
    }
    &.pl-message-item-color-white {
      background-color: white;
      color: plVar(colorContent);
      border-color: #eee;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    }
  }
}