@mixin component-nav {
  $tabColor: #eee;
  .pl-nav {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: plVar(boxShadow);
    overflow: hidden;

    .pl-nav-header-wrapper {
      border-radius: plVar(borderRound);
      border: solid 1px plVar(colorBorder);
      overflow: hidden;

      .pl-nav-header {
        width: 100%;
        white-space: nowrap;
        height: 36px;
        overflow: hidden;

        .pl-nav-header-close-icon {
          opacity: 0;
        }

        .pl-nav-header-item {
          display: inline-flex;
          cursor: pointer;
          user-select: none;
          border-right: solid 1px plVar(colorPrimaryLighter);
          vertical-align: top;

          .pl-nav-header-item-content {
            display: flex;
            width: 200px;
            height: 36px;
            align-items: center;
            box-sizing: border-box;
            padding: 0 12px;
            font-size: 12px;
            color: plVar(colorContent);

            .pl-tooltip {
              flex: 1;
            }
          }

          &.pl-nav-header-item-active {
            background-color: plVar(colorPrimaryLighter);

            .pl-nav-header-close-icon {
              opacity: 1;
            }

            .pl-tooltip, .pl-nav-header-close-icon {
              color: plVar(colorPrimaryDeep);
            }
          }

          &:hover {
            .pl-nav-header-close-icon {
              opacity: 1;
            }
          }

          .pl-nav-header-close-icon:hover {
            color: plVar(colorPrimaryDeep);
          }
        }
      }
    }

    .pl-nav-body {
      flex: 1;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      width: 100%;
    }
  }

  .pl-nav-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    @include transition-all;

    .pl-nav-page-target {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  .pl-nav-pages {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
}