@mixin component-nav {

  $tabColor: #eee;

  .pl-nav {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .pl-nav-header-wrapper {
      display: flex;
      box-sizing: border-box;
      cursor: pointer;
      height: 56px;
      position: relative;

      .pl-nav-header-wrapper-left {
        flex: 1;
        overflow: hidden;
        border: solid 1px $tabColor;
        height: 40px;
      }

      .pl-nav-header-wrapper-right {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 13px;
        border: solid 1px $tabColor;
        border-left: initial;
      }

      .pl-nav-target {
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    .pl-nav-body {
      flex: 1;
      border: solid 1px $tabColor;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      width: 100%;

    }
  }
  .pl-nav-blank {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    .pl-nav-blank-close {
      color: plVar(colorContentSub);
    }

    .pl-nav-blank-list {
      height: 100%;
      width: 200px;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 50px;
      }

      .pl-list {
        width: 100%;
      }

      .pl-nav-blank-list-item {
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        left: -20px;
        border-radius: 40px;

        &:hover {
          background-color: plVar(colorPrimaryLighter);
          cursor: pointer;
        }

        .pl-nav-blank-list-item-left {
          flex: 1;
          overflow: hidden;
          line-height: 40px;
        }

        .pl-nav-blank-list-item-right {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .pl-nav-header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;

    .pl-nav-header-item {
      display: inline-block;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
      font-size: 12px;

      &:not(:last-child) {
        border-right: solid 1px $tabColor;
      }

      @include transition-all;

      .pl-nav-header-item-content {
        width: 100%;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        padding: 0 12px;
        position: relative;
        color: plVar(colorContent);
        cursor: pointer;
        user-select: none;

        .pl-tooltip-text {
          text-align: center;
        }

        .pl-nav-header-item-close {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 12px;
        }
      }

      &.pl-nav-header-item-active {
        background-color: plVar(colorPrimaryLighter) !important;
      }
    }
  }
  .pl-nav-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    @include transition-all;

    .pl-nav-page-target {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
  .pl-nav-pages {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

}