@mixin component-number {
  .pl-number {
    padding-right: 0;

    .pl-number-controller {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      width: 30px;
      height: 100%;
      box-sizing: border-box;

      .pl-number-up, .pl-number-down {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        user-select: none;

        &:active {
          background-color: #666;
          color: #333;
        }
      }

      .pl-number-up {
        &:before {
          content: '';
          position: absolute;
          height: 1px;
          bottom: -0.5px;
          left: 0;
          right: 0;
        }
      }
    }

    @include plSizes {
      &.pl-size-#{$key} {
        .pl-number-controller {
          font-size: $value/3.5;
        }
      }
    }

    @include plColors {
      &.pl-color-#{$key} {
        .pl-number-controller {
          border-left: solid 1px $value;

          .pl-number-up, .pl-number-down {
            background-color: rgba($value, 0.05);

            &:active {
              background-color: rgba($value, 0.2);
            }
          }

          .pl-number-up {
            &:before {
              background-color: $value;
            }
          }
        }
      }
    }
    &.pl-type-fill {
      .pl-number-controller {
        border-left-color: white !important;
      }
      .pl-number-up {
        &:before {
          background-color: white !important;
        }
      }
    }

  }

}