@mixin component-pagination {
  .pl-pagination {
    @include public-style;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    $borderColor: plVar(colorInfoLight);
    $borderTopVal: 6px;
    $borderBottomVal: 6px;

    .pl-pagination-left {
      display: inline-flex;
      align-items: center;
      border: solid 1px $borderColor;
      box-sizing: border-box;
      padding: 1px 0;
      border-radius: plVar(borderFillet);

      .pl-pagination-operation {
        display: flex;
        align-items: center;
        padding: 0 16px;
        position: relative;
        height: 28px;

        &:after {
          width: 1px;
          position: absolute;
          top: $borderTopVal;
          bottom: $borderBottomVal;
          right: 0;
          background-color: $borderColor;
          content: '';
        }

        .pl-pagination-operate-num-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1em;

          .pl-pagination-operate-num {
            padding: 0 12px;
            text-align: center;
          }
        }
      }

      .pl-pagination-operate-icon {
        color: plVar(colorInfoDeep);
      }

      .pl-pagination-operate-num, .pl-pagination-more-icon {
        color: plVar(colorInfo);
      }

      .pl-pagination-operate-icon, .pl-pagination-operate-num {
        cursor: pointer;

        &:hover {
          color: plVar(colorPrimary);
        }

        &:active {
          color: plVar(colorPrimaryDeep);
        }

        &.pl-pagination-operate-num-active {
          color: plVar(colorPrimary);
        }

        &.pl-pagination-operate-refresh-icon {
          padding: 0 16px;
        }

        &.pl-icon-loading {
          color: plVar(colorPrimary);
        }
      }

      .pl-pagination-jump-wrapper {
        font-size: 12px;
        position: relative;
        padding: 0 16px;

        &:before {
          width: 1px;
          position: absolute;
          top: $borderTopVal;
          bottom: $borderBottomVal;
          left: 0;
          background-color: $borderColor;
          content: '';
        }

        &:after {
          width: 1px;
          position: absolute;
          top: $borderTopVal;
          bottom: $borderBottomVal;
          right: 0;
          background-color: $borderColor;
          content: '';
        }

        .pl-pagination-jump-input {
          border: none;
          padding-right: 6px;

          input {
            text-align: center;
          }
        }
      }
    }

    .pl-pagination-right {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 1px;
      font-size: 13px;
    }
  }
}
