@mixin component-popper{
  $popper-arrow-size: 6px;
  $popper-back-ground: white;
  $popper-scale-animates: (
          top-start:(
                  transform-origin:bottom left,
                  active-transform:scaleY(1),
                  inactive-transform:scaleY(0),
                  direction:'bottom',
                  align:'left',
                  alignValue:16px,
                  zeroWidth:'border-bottom-width',
                  borderColor:'border-top-color',
          ),
          top-center:(
                  transform-origin:bottom center,
                  active-transform:scaleY(1),
                  inactive-transform:scaleY(0),
                  direction:'bottom',
                  align:'left',
                  alignValue:calc(50% - #{$popper-arrow-size/2}),
                  zeroWidth:'border-bottom-width',
                  borderColor:'border-top-color',
          ),
          top-end:(
                  transform-origin:bottom right,
                  active-transform:scaleY(1),
                  inactive-transform:scaleY(0),
                  direction:'bottom',
                  align:'right',
                  alignValue:16px,
                  zeroWidth:'border-bottom-width',
                  borderColor:'border-top-color',
          ),
          bottom-start:(
                  transform-origin:top left,
                  active-transform:scaleY(1),
                  inactive-transform:scaleY(0),
                  direction:'top',
                  align:'left',
                  alignValue:16px,
                  zeroWidth:'border-top-width',
                  borderColor:'border-bottom-color',
          ),
          bottom-center:(
                  transform-origin:top center,
                  active-transform:scaleY(1),
                  inactive-transform:scaleY(0),
                  direction:'top',
                  align:'left',
                  alignValue:calc(50% - #{$popper-arrow-size/2}),
                  zeroWidth:'border-top-width',
                  borderColor:'border-bottom-color',
          ),
          bottom-end:(
                  transform-origin:top right,
                  active-transform:scaleY(1),
                  inactive-transform:scaleY(0),
                  direction:'top',
                  align:'right',
                  alignValue:16px,
                  zeroWidth:'border-top-width',
                  borderColor:'border-bottom-color',
          ),
          left-start:(
                  transform-origin:right top,
                  active-transform:scaleX(1),
                  inactive-transform:scaleX(0),
                  direction:'right',
                  align:'top',
                  alignValue:16px,
                  zeroWidth:'border-right-width',
                  borderColor:'border-left-color',
          ),
          left-center:(
                  transform-origin:right center,
                  active-transform:scaleX(1),
                  inactive-transform:scaleX(0),
                  direction:'right',
                  align:'top',
                  alignValue:calc(50% - #{$popper-arrow-size/2}),
                  zeroWidth:'border-right-width',
                  borderColor:'border-left-color',
          ),
          left-end:(
                  transform-origin:right bottom,
                  active-transform:scaleX(1),
                  inactive-transform:scaleX(0),
                  direction:'right',
                  align:'bottom',
                  alignValue:16px,
                  zeroWidth:'border-right-width',
                  borderColor:'border-left-color',
          ),
          right-start:(
                  transform-origin:left top,
                  active-transform:scaleX(1),
                  inactive-transform:scaleX(0),
                  direction:'left',
                  align:'top',
                  alignValue:16px,
                  zeroWidth:'border-left-width',
                  borderColor:'border-right-color',
          ),
          right-center:(
                  transform-origin:left center,
                  active-transform:scaleX(1),
                  inactive-transform:scaleX(0),
                  direction:'left',
                  align:'top',
                  alignValue:calc(50% - #{$popper-arrow-size/2}),
                  zeroWidth:'border-left-width',
                  borderColor:'border-right-color',
          ),
          right-end:(
                  transform-origin:left bottom,
                  active-transform:scaleX(1),
                  inactive-transform:scaleX(0),
                  direction:'left',
                  align:'bottom',
                  alignValue:16px,
                  zeroWidth:'border-left-width',
                  borderColor:'border-right-color',
          ),
  );

  .pl-popper {
    position: relative;
    box-sizing: border-box;
    transition: .1s linear;
    transition-property: transform, opacity;
    border-radius: plVar(borderFillet);
    word-break: break-word;
    background-color: $popper-back-ground;


    @each $key, $type in $popper-scale-animates {
      $type-object: map_get($popper-scale-animates, $key);
      &.pl-popper-#{$key} {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        border: 1px solid #e4e7ed;
        border-radius: plVar(borderFillet);
        transform-origin: map_get($type-object, transform-origin);

        &.pl-popover-animate-drop-enter-active, &.pl-popover-animate-drop-leave-active {
          transform: map_get($type-object, active-transform);
          opacity: 1;
        }

        &.pl-popover-animate-drop-enter, &.pl-popover-animate-drop-leave-to {
          transform: map_get($type-object, inactive-transform);
          opacity: 0;
        }

        &.pl-popover-animate-scale-enter-active, &.pl-popover-animate-scale-leave-active {
          transform: scale(1);
          opacity: 1;
        }

        &.pl-popover-animate-scale-enter, &.pl-popover-animate-scale-leave-to {
          transform: scale(0.6);
          opacity: 0;
        }

        &.pl-popper-arrow {
          &::after {
            border: $popper-arrow-size solid transparent;
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;

            #{map_get($type-object, direction)}: -5px;
            #{map_get($type-object, align)}: #{map_get($type-object, alignValue)};
            #{map_get($type-object, zeroWidth)}: 0;
            #{map_get($type-object, borderColor)}: white;
          }
        }
      }
    }
  }
}
