@mixin component-radio {
  .pl-radio {
    @include public-style;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;

    .pl-radio-icon-wrapper {
      width: plVar(iconSize);
      height: plVar(iconSize);
      position: relative;
      color: inherit;
      .pl-radio-icon {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include plColors {
      &.pl-radio-color-#{$key} {
        color: $value;
        &:focus, &:active {
          .pl-radio-icon-wrapper {
            .pl-radio-icon {
              &:before {
                position: absolute;
                content: '';
                box-shadow: 0 0 4px 2px $value;
              }
            }
          }
        }
      }
    }

    @include plSizes {
      &.pl-radio-size-#{$key} {
        .pl-radio-icon-wrapper {
          font-size: (1.2em * $value / 28px)-0.2em;
        }
        .pl-radio-label {
          font-size: $value/2;
          margin-left: 0.25em;
          color: plVar(colorContent);
        }

        &:focus, &:active {
          .pl-radio-icon-wrapper {
            .pl-radio-icon {
              &:before {
                position: absolute;
                content: '';
                top: 2*$value/28+1;
                bottom: 2*$value/28+1;
                left: 2*$value/28+1;
                right: 2*$value/28+1;
                box-shadow: 0 0 3px 1px $value;
              }
            }
          }
        }
      }
    }
  }
  .pl-radio-group {
    @include public-style;
    display: inline-flex;

    &.pl-radio-group-horizontal {
      .pl-radio:not(:last-child) {
        margin-right: 1em;
      }
    }

    &.pl-radio-group-vertical {
      flex-direction: column;

      .pl-radio:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}