@mixin component-radio {
  .pl-radio {
    @include public-style;
    min-width: plVar(iconSize);
    height: plVar(iconSize);
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: plVar(iconSize);
    display: inline-flex;
    align-items: center;

    .pl-icon {
      position: absolute;
      left: 0;
      top: 0;
      @include transition-all;
    }

    &.pl-radio-active {
      .pl-radio-icon-active {
        transform: scale(1);
      }

      .pl-radio-icon-inactive {
        transform: scale(0.5);
        opacity: 0;
      }
    }

    &.pl-radio-inactive {
      .pl-radio-icon-active {
        transform: scale(0.5);
        opacity: 0;
      }

      .pl-radio-icon-inactive {
        transform: scale(1);
      }
    }

    @include plColors {
      &.pl-radio-color-#{$key} {
        color: $value;
        &:active {
          color: $colorDeep;
        }
      }
    }

    @include plSizes {
      &.pl-radio-size-#{$key} {
        font-size: $value/1.8;
        .pl-radio-label {
          font-size: $value/1.6;
          margin-left: 0.25em;
        }
      }
    }

    &.pl-radio-color-disabled {
      cursor: not-allowed;
    }

  }
  .pl-radio-group {
    @include public-style;
    display: inline-flex;

    &.pl-radio-group-horizontal {
      .pl-radio:not(:last-child) {
        margin-right: 1em;
      }
    }

    &.pl-radio-group-vertical {
      flex-direction: column;

      .pl-radio:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}