@mixin component-scroll{
  .pl-scroll {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include public-style;

    .pl-scroll-content-wrapper {
      height: calc(100% + 17px);
      width: calc(100% + 17px);
      overflow: scroll;
      .pl-scroll-content {
        width: max-content;
        min-width: 100%;
        display: inline-block;
        float: left;
      }
    }
    .pl-scroll-vertical-indicator-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      .pl-scroll-vertical-indicator {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100px;
        cursor: pointer;
        opacity: 0;
        transition-duration: 0.4s;
        transition-property: opacity, height;
      }
    }
    .pl-scroll-horizontal-indicator-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .pl-scroll-horizontal-indicator {
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 100px;
        cursor: pointer;
        opacity: 0;
        transition-duration: 0.4s;
        transition-property: opacity, width;
      }
    }
    &.pl-scroll-hover {
      & {
        & > .pl-scroll-vertical-indicator-wrapper, & > .pl-scroll-horizontal-indicator-wrapper {
          .pl-scroll-vertical-indicator {
            opacity: 1;
          }
          .pl-scroll-horizontal-indicator {
            opacity: 1;
          }
        }
      }
    }

    ::-webkit-scrollbar {
      background: transparent;
      width: 17px;
      height: 17px;
    }

    ::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}