@mixin component-select {
  .pl-icon .pl-input-icon {
    @include transition-all-cubic-bezier;
    transform: rotate(0);
  }
  .pl-select {
    .pl-input-icon, .pl-tag-input-icon {
      transform: scale(0.8);
    }

    &.pl-select-open {
      .pl-input-icon, .pl-tag-input-icon {
        transform: scale(0.8) rotate(180deg);
      }
    }
  }
  .pl-select-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .pl-icon {
      vertical-align: text-bottom;
      margin-right: 0.5em;
    }

    &.pl-select-item-checked {
      background-color: plVar(colorPrimary) !important;
      color: white !important;

      .pl-select-check-icon {
        color: plVar(colorPrimaryDeep) !important;
      }
    }

    .pl-select-item-content {
      flex: 1;
      line-height: 15px;

      .pl-scope-slot, .pl-render-func {
        display: block;
        flex: 1;
      }
    }
  }
  .pl-select-service-popper {
    //overflow: hidden;

    .pl-select-service {
      box-sizing: border-box;
      border-radius: plVar(borderFillet);
      overflow: hidden;

      .pl-select-service-item {
        font-size: 12px;

        .pl-select-service-item-inner {
          display: block;

          .pl-select-service-item-inner-content {
            display: flex;
            align-items: center;

            .pl-icon {
              margin-right: 6px;
            }
          }

          & > div {
            padding: 6px;
            box-sizing: border-box;
          }
        }

        &:hover, &.pl-select-service-item-inner-hover {
          .pl-select-service-item-inner {
            & > div {
              background-color: plVar(colorPrimaryLighter);
              cursor: pointer;
              color: plVar(colorTitle);
            }
          }
        }
      }
    }
  }
}