@mixin component-tab {
  .pl-tabs {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 14px;
    flex-direction: column;
    .pl-tabs-body {
      flex: 1;
      padding: 12px;
      background-color: white;
      border-radius: plVar(borderFillet);
    }
  }

  .pl-tab-header {
    @include public-style;
    display: block;
    position: relative;

    .pl-item {
      display: inline-block;
      background-color: white;

      &.pl-tab-header-item-active {
        .pl-tab-header-item {
          color: plVar(colorPrimaryDeep);
        }
      }
    }

    .pl-tab-header-item {
      font-size: 14px;
      color: plVar(colorContent);
      cursor: pointer;
      position: relative;
      user-select: none;
      padding: 16px 0;
      margin-right: 48px;

      &:hover {
        .pl-tab-header-item-close {
          opacity: 1;
        }
      }

      .pl-tab-header-item-close {
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        opacity: 0;
      }
    }

    .pl-tab-header-bottom {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 2px;
      content: '';
      background-color: plVar(colorPrimaryLighter);

      .pl-tab-header-bottom-tag {
        height: 100%;
        background-color: plVar(colorPrimary);
        position: absolute;
        @include transition-all;
      }
    }

  }
}