@mixin component-tab {
  .pl-tabs {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 14px;
    flex-direction: column;
    .pl-tabs-body {
      flex: 1;
      padding: 12px;
      background-color: white;
      border-radius: plVar(borderFillet);
    }
  }

}