@mixin component-table {
  .pl-base-table {
    border: solid 1px plVar(colorBorder);
    border-radius: plVar(borderFillet);
    font-size: inherit;

    .pl-scroll-horizontal-indicator {
      z-index: 1;
    }

    &:hover {
      .pl-scroll-horizontal-indicator, .pl-scroll-vertical-indicator {
        opacity: 1 !important;
      }
    }

    &.pl-base-table-fit-parent {
      height: 100%;
      display: flex;
      flex-direction: column;

      .pl-base-table-body {
        flex: 1;

        .pl-base-table-body-item {
          height: 100% !important;
        }
      }
    }

    &.pl-base-table-left-shadow {
      .pl-base-table-body-item-left, .pl-base-table-head-item-left {
        box-shadow: 0 0 10px rgba(black, 0.12);
      }
    }

    &.pl-base-table-right-shadow {
      .pl-base-table-body-item-right, .pl-base-table-head-item-right {
        box-shadow: 0 0 10px rgba(black, 0.12);
      }
    }
  }

  .pl-base-table-body {
    position: relative;
    overflow: hidden;

    table {
      font-size: 12px;
    }

    .pl-base-table-body-item {
      background-color: white;
    }

    .pl-base-table-body-item-left, .pl-base-table-body-item-right {
      position: absolute;
      top: 0;
    }

    .pl-base-table-body-item-right {
      right: 0;

      .pl-scroll-content-wrapper {
        position: relative;

        .pl-scroll-content {
          right: 0;
          position: absolute;
          float: right;

          table {
            float: right;
          }
        }
      }
    }
  }

  .pl-base-table-body-item {
    & > .pl-scroll > .pl-scroll-content-wrapper > .pl-scroll-content {
      box-sizing: border-box;
      padding-bottom: 9px;
    }
  }

  .pl-base-table-cell {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0 6px;

    .pl-base-table-cell-content {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;

      .pl-base-table-cell-watcher {
        flex: 1;

        .pl-render-func, .pl-scope-slot {
          width: 100%;
        }
      }
    }

    .pl-base-table-cell-content-slot {
      display: flex;
      align-items: center;
    }

    .pl-input, .pl-date, .pl-time  {
      width: 100% !important;
    }

    &.pl-base-table-cell-align-left {
      .pl-base-table-cell-content {
        justify-content: flex-start;

        .pl-base-table-cell-watcher {
          text-align: left;
        }
      }
    }

    &.pl-base-table-cell-align-center {
      .pl-base-table-cell-content {
        justify-content: center;

        .pl-base-table-cell-watcher {
          text-align: center;
        }
      }
    }

    &.pl-base-table-cell-align-right {
      flex-direction: row-reverse;

      .pl-base-table-cell-content {
        justify-content: flex-end;

        .pl-base-table-cell-watcher {
          text-align: right;
        }
      }
    }


  }
  .pl-base-table-body {
    .pl-base-table-row:not(:last-child) {
      .pl-base-table-cell {
        border-bottom: solid 1px #f2f2f2;
        box-sizing: border-box;
      }
    }
  }

  .pl-base-table-cell-watcher {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    padding: 1px;

    &.pl-base-table-cell-watcher-link {
      color: plVar(colorPrimary);
      cursor: pointer;
    }
  }

  .pl-base-table-head {
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px plVar(colorBorder);

    table {
      font-size: 12px;
      color: #282f4a;
    }
  }

  .pl-base-table-head-cell {
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
      cursor: pointer;

      .pl-base-table-head-cell-sort {
        color: #bbb;
      }
    }

    .pl-base-table-head-cell-sort {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: scale(0.6);
      color: transparent;

      .pl-sort-asc-icon, .pl-sort-desc-icon {
        flex: 1;
        position: relative;
      }

      .pl-sort-asc-icon {
        top: 2px;
      }

      .pl-sort-desc-icon {
        top: -3px;
      }

      &.pl-base-table-head-cell-sort-asc, &.pl-base-table-head-cell-sort-desc {
        color: #bbb;
      }

      &.pl-base-table-head-cell-sort-asc {
        .pl-sort-asc-icon {
          color: #333
        }
      }

      &.pl-base-table-head-cell-sort-desc {
        .pl-sort-desc-icon {
          color: #333
        }
      }
    }

    .pl-base-table-head-cell-drag {
      position: absolute;
      width: 8px;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: transparent;
      cursor: w-resize;
    }
  }

  .pl-base-table-head-item {
    background-color: #f9f9f9;
    overflow: hidden;

    &.pl-base-table-head-item-left, &.pl-base-table-head-item-right {
      position: absolute;
      top: 0;
    }

    &.pl-base-table-head-item-right {
      right: 0;

      & > table {
        float: right;
      }
    }

    .pl-base-table-row-fixed {
      background-color: #e6e6e6;
    }
  }

  .pl-base-table-row {
    &.pl-base-table-row-check {
      background-color: plVar(colorPrimaryLighter);
    }
  }

  .pl-base-table-row-space {
    height: 1px;
  }
}
