@mixin component-tag {
  .pl-tag {
    border: solid 1px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: plVar(borderFillet);
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;

    .pl-tag-close {
      margin-left: 3px;
    }

    @include plColors {
      &.pl-tag-color-#{$key} {
        background-color: $colorLighter;
        border-color: $color;
        color: $colorDeep;

        &:active {
          background-color: $colorLight;
        }
      }
    }

    @include plSizes {
      &.pl-tag-size-#{$key} {
        height: $value;
        padding: 0 #{$value - 16px};
      }
    }

    &.pl-tag-disabled {
      cursor: not-allowed;
      color: plVar(colorDisabled);
    }
  }
  .pl-tag-input {
    background-color: white;
    box-sizing: border-box;
    outline: none;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-start;
    min-height: 28px;
    font-size: 11.2px;
    position: relative;

    .pl-tag:not(:last-child) {
      margin-right: 3px;
    }

    .pl-tag-input-el {
      outline: none;
      border-radius: plVar(borderFillet);
      font-size: 12px;
      padding: 3px 12px;
      width: 100px;
    }

    .pl-tag-input-content {
      flex: 1;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .pl-tag-input-clear-icon {
      cursor: pointer;
    }

    @include plColors {
      &.pl-tag-input-color-#{$key} {
        border: solid 1px $value;
        color: $colorDeep;

        .pl-tag-input-el {
          color: inherit;
          border: solid 1px rgba($value, 0.4);
          flex: 1;
        }

        .pl-tag-input-placeholder {
          color: mix($value, white, 90%);
        }
      }
    }

    &:focus, &.pl-tag-input-focus {
      border-color: plVar(colorPrimary);
      color: plVar(colorPrimaryDeep);
    }

    &.pl-tag-input-disabled {
      background-color: plVar(colorDisabledLight);

      .pl-tag-input-el {
        background-color: transparent;
        border: none;
      }
    }
  }
}