@mixin component-textarea {
  .pl-textarea {
    display: inline-block;
    position: relative;
    vertical-align: top;

    &.pl-textarea-long {
      width: 100% !important;

      textarea {
        width: 100% !important;
      }
    }

    textarea {
      outline: none;
      display: inline-flex;
      border: none;
      height: initial;
      padding: 6px;
      box-sizing: border-box;
      vertical-align: top;
      font-family: inherit;

      &.pl-textarea-focus {
        border-color: plVar(colorPrimary);
      }

      &.pl-textarea-disabled {
        background-color: plVar(colorDisabledLight);
        cursor: not-allowed;
      }

      @include plSizes {
        &.pl-size-#{$key} {
          font-size: $value/2.5;
        }
      }
      @include plColors {
        &.pl-color-#{$key} {
          &::placeholder {
            color: mix($value, white, 90%);
          }
        }
      }
    }
  }

}