@mixin component-time {
  .pl-time {
    display: inline-block;
    vertical-align: middle;
  }
  .pl-time-panel {
    @include public-style;
    display: inline-block;
    width: 100%;

    .pl-time-panel-label-wrapper {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      .pl-time-panel-label {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        z-index: 2;
        cursor: pointer;

        span {
          padding: 6px 12px;
          border-radius: 4px;

          &:hover {
            background-color: plVar(colorPrimaryLighter);
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        z-index: 1;
        box-shadow: 0 0 15px 1px #ddd;
      }
    }

    .pl-time-spin-wrapper {
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 0;
    }
  }
}