@mixin component-tooltip {
  .pl-tooltip {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;

    .pl-tooltip-content {
      display: inline-block;
      white-space: nowrap;
    }

    &.pl-tooltip-show-overflow-tooltip {
      width: 100%;
    }
  }

  .pl-tooltip-target {
    outline: none;
  }

  .pl-tooltip-text {
    display: block;
    height: fit-content;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.pl-tooltip-text-show-overflow-tooltip {
      width: 100%;
    }
  }
}