@mixin component-tooltip {
  .pl-tooltip {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;

    .pl-tooltip-content {
      display: inline-block;
      white-space: nowrap;
    }

    &.pl-tooltip-show-overflow-tooltip {
      width: 100%;
    }
  }

  .pl-tooltip-target {
    outline: none;
  }
}