@mixin component-tooltip{
  .pl-tooltip {
    display: block;
    height: fit-content;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.pl-tooltip-text-show-overflow-tooltip {
      width: 100%;
    }
  }
}