@include theme {
  .pl-color-hue-slider {
    background: linear-gradient(90deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
    display: inline-block;
    height: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    .pl-color-hue-slider-thumb {
      display: inline-block;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      border: solid 1px $colorInfo;
      box-sizing: border-box;
      border-radius: 100px;
    }
  }
}