@include theme {
  .pl-scroll {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    &.pl-scroll-disabled {
      .pl-scroll-wrapper {
        overflow: hidden !important;
        cursor: not-allowed;
      }
    }

    .pl-scroll-wrapper {
      height: calc(100% + 17px);
      width: calc(100% + 17px);
      overflow: scroll;
      display: inline-block;
      float: left;

      &::-webkit-scrollbar {
        background: transparent;
        width: 17px;
        height: 17px;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      .pl-scroll-content {
        display: inline-block;

        ::-webkit-scrollbar {
          background: #f1f1f1;
          width: 17px;
          height: 17px;
        }

        ::-webkit-scrollbar-thumb {
          background: #c1c1c1;
        }

      }
    }

    .pl-vertical-scrollbar-wrapper, .pl-horizontal-scrollbar-wrapper {
      z-index: 3;
    }

    .pl-vertical-scrollbar-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;

      .pl-vertical-scrollbar {
        top: 0;
        right: 2px;
      }

    }

    .pl-horizontal-scrollbar-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .pl-horizontal-scrollbar {
        left: 0;
        bottom: 2px;
      }
    }

    & > .pl-horizontal-scrollbar-wrapper, & > .pl-vertical-scrollbar-wrapper {
      .pl-vertical-scrollbar, .pl-horizontal-scrollbar {
        position: absolute;
        border-radius: 100px;
        cursor: pointer;
        /*opacity: 1;*/
        opacity: 0;
        transition-duration: 0.2s;
        transition-property: opacity, height, width;
      }
    }

    &.pl-scroll-always-show-scroll-bar {
      & > .pl-horizontal-scrollbar-wrapper, & > .pl-vertical-scrollbar-wrapper {
        .pl-vertical-scrollbar, .pl-horizontal-scrollbar {
          opacity: 1;
        }
      }
    }

    &:hover, &[is-dragging] {
      & > .pl-horizontal-scrollbar-wrapper, & > .pl-vertical-scrollbar-wrapper {
        .pl-vertical-scrollbar, .pl-horizontal-scrollbar {
          opacity: 1;
        }
      }
    }

    &[virtual-scrolling] {
      .pl-item {
        transition: none !important;
      }
    }
  }
}

.pl-scroll-sticky {
  position: sticky;

  &.pl-scroll-sticky-compatible {
    position: relative;
  }
}

.pl-auto-scroll-indicator-vertical {
  &.pl-auto-scroll-indicator-start {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #ddd);
  }

  &.pl-auto-scroll-indicator-end {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ddd);
  }
}

.pl-auto-scroll-indicator-horizontal {
  &.pl-auto-scroll-indicator-start {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ddd);
  }

  &.pl-auto-scroll-indicator-end {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ddd);
  }
}