
.pl-virtual-table {
  & > .pl-virtual-list {
    & > .pl-scroll-wrapper {
      & > .pl-scroll-content {
        overflow-y: unset;
      }
    }
  }
}

.pl-virtual-list {
  position: relative;

  & > .pl-scroll-wrapper {
    & > .pl-scroll-content {
      overflow-y: hidden;
    }
  }

  &:not(.pl-virtual-list-disabled) {
    .pl-virtual-list-strut {
      position: relative;
      //overflow: hidden;

      .pl-virtual-list-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //overflow: hidden;
      }
    }
  }
}