@import "./normalize";
@import "./transition";

@include theme {
  font-family: $font;

  .pl-text-primary {color: $colorPrimary;}
  .pl-text-success {color: $colorSuccess;}
  .pl-text-warn {color: $colorWarn;}
  .pl-text-error {color: $colorError;}
  .pl-text-info {color: $colorInfo;}

  .pl-background-primary {background-color: $colorPrimary;}
  .pl-background-success {background-color: $colorSuccess;}
  .pl-background-warn {background-color: $colorWarn;}
  .pl-background-error {background-color: $colorError;}
  .pl-background-info {background-color: $colorInfo;}

  .pl-background-disabled{background-color: $disabled;}
  .pl-background-disabled-light {background-color: $disabledLight;}
  .pl-background-disabled-deep {background-color: $disabledDeep;}
  .pl-background-disabled-text {color: $disabledText;}

  .pl-border-radius-fillet{border-radius: $shapeFillet;}
  .pl-border-radius-round{border-radius: $shapeRound;}
  .pl-border-radius-none{border-radius: $shapeNone;}

  .pl-border-color{border-color: $ibc}
  .pl-border-color-light{border-color: $ibl}

  .pl-text-color{color: $itc}
  .pl-text-color-light{color: $itl}
  .pl-title-color{color: $ihc}
  .pl-placeholder-color{color: $ipc}
  .pl-icon-color{color: $icc}

  .pl-boxshadow{box-shadow: $boxshadow}
}