$theme-dark: (
        'dark':(
                colorPrimary: black,
                colorPrimaryLight: #c4e2e0,
                colorPrimaryDeep: #067569,
                colorPrimaryLighter: #daf8f6,
                colorSuccess: #00CC00,
                colorSuccessLight: #67E667,
                colorSuccessLighter: #d1f4d1,
                colorSuccessDeep: #008500,
                colorWarn: #FF7400,
                colorWarnLight: #FFB273,
                colorWarnLighter: #fff0da,
                colorWarnDeep: #A64B00,
                colorError: #F38585,
                colorErrorLight: #FF7373,
                colorErrorLighter: #ffd8de,
                colorErrorDeep: #A60000,
        )
);