/*@formatter:off*/
$theme-default: (
                colorPrimary: #3E97EC,                                          //颜色：基本
                colorPrimaryLight: #dff3ff,                                     //颜色：基本轻
                colorPrimaryDeep: #2c6fb1,                                      //颜色：基本重
                colorPrimaryLighter: #eff8ff,                                   //颜色：基本更轻
                colorSuccess: #42E67F,                                          //颜色：成功
                colorSuccessLight: #93F3B7,                                     //颜色：成功轻
                colorSuccessLighter: #e7fff5,                                     //颜色：成功轻
                colorSuccessDeep: #50AD73,                                      //颜色：成功重
                colorWarn: #E9D03F,                                             //颜色：警告
                colorWarnLight: #F4E692,                                        //颜色：警告轻
                colorWarnLighter: #fffce9,                                        //颜色：警告轻
                colorWarnDeep: #AFA14F,                                         //颜色：警告重
                colorError: #FF6235,                                            //颜色：错误
                colorErrorLight: #ffdfdc,                                       //颜色：错误轻
                colorErrorLighter: #ffedef,                                       //颜色：错误轻
                colorErrorDeep: #BF674D,                                        //颜色：错误重
                colorInfo: #dcdfe4,                                             //颜色：提示
                colorInfoLight: #e7eaef,                                        //颜色：提示轻
                colorInfoLighter: #f1f4f9,                                        //颜色：提示轻
                colorInfoDeep: #76777a,                                         //颜色：提示重
                colorDisabled: #d2d2d2,                                         //颜色：禁用
                colorDisabledLight: #f2f2f2,                                    //颜色：禁用轻
                colorDisabledLighter: white,                                    //颜色：禁用轻
                colorDisabledDeep: #929292,                                     //颜色：禁用重

                backgroundColor:rgba(255, 255, 255, .125),                      //背景色
                backgroundColorLight:rgba(0,0,0,.06),                        //背景色亮
                backgroundColorLighter:rgba(0,0,0,.025),                        //背景色亮
                backgroundColorDeeper:rgba(255,255,255, .1),                    //背景色暗
                backgroundColorActive:rgba(0, 0, 0, .3),                        //背景色激活

                fontFamily: 'Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif',
                colorTitle:black,                                               //标题颜色
                colorSubTitle:#606060,                                               //标题颜色
                colorContent:#888,                                              //文字色
                colorContentSub:#aaa,                                              //文字色
                colorBorder:#e2e2e2,                                              //文字色

                boxShadow:0 2px 12px 0 rgba(0, 0, 0, .1),                          //阴影

                paddingLarge:20px,                                              //大边距
                padding:16px,                                                   //默认边距
                paddingSmall:8px,                                               //小边距

                borderFillet:4px,                                               //小圆角
                borderRound:100vw,                                              //圆
                borderNone:0,                                                   //无圆角

                fontLarge:16px,                                                 //字号：大
                font:14px,                                                      //字号：默认
                fontSmall:12px,                                                 //字号：小

                sizeLarge:36px,                                                 //大小：大
                sizeDefault:28px,                                               //大小：默认
                sizeSmall:22px,                                                 //大小：小

                iconSize:1.25em,                                                 //图标大小
);
/*@formatter:on*/