/*@formatter:off*/
$theme-black: (
        colorPrimary: #333333,                                          //颜色：基本
        colorPrimaryLight: #999999,                                     //颜色：基本轻
        colorPrimaryDeep: #211111,                                      //颜色：基本重
        colorPrimaryLighter: #f6f6f6,                                   //颜色：基本更轻
        colorSuccess: #359900,                                          //颜色：成功
        colorSuccessLight: #83CC5C,                                     //颜色：成功轻
        colorSuccessDeep: #3B731D,                                      //颜色：成功重
        colorWarn: #C86A00,                                             //颜色：警告
        colorWarnLight: #E4A966,                                        //颜色：警告轻
        colorWarnDeep: #966126,                                         //颜色：警告重
        colorError: #C80F00,                                            //颜色：错误
        colorErrorLight: #E47066,                                       //颜色：错误轻
        colorErrorDeep: #962E26,                                        //颜色：错误重
        colorInfo: #ACACAC,                                             //颜色：提示
        colorInfoLight: #D6D6D6,                                        //颜色：提示轻
        colorInfoDeep: #818181,                                         //颜色：提示重
        colorDisabled: #c6c6c6,                                         //颜色：禁用
        colorDisabledLight: #ebebeb,                                    //颜色：禁用轻
        colorDisabledDeep: #999999,                                     //颜色：禁用重
)
/*@formatter:on*/