/*@formatter:off*/
$theme-default: (
                colorPrimary: #12b4a5,                                          //颜色：基本
                colorPrimaryLight: #c4e2e0,                                     //颜色：基本轻
                colorPrimaryDeep: #067569,                                      //颜色：基本重
                colorPrimaryLighter: #daf8f6,                                   //颜色：基本更轻

                colorSuccess: #00CC00,                                          //颜色：成功
                colorSuccessLight: #67E667,                                     //颜色：成功轻
                colorSuccessLighter: #d1f4d1,                                     //颜色：成功轻
                colorSuccessDeep: #008500,                                      //颜色：成功重

                colorWarn: #FF7400,                                             //颜色：警告
                colorWarnLight: #FFB273,                                        //颜色：警告轻
                colorWarnLighter: #fff0da,                                        //颜色：警告轻
                colorWarnDeep: #A64B00,                                         //颜色：警告重

                colorError: #F38585,                                            //颜色：错误
                colorErrorLight: #FF7373,                                       //颜色：错误轻
                colorErrorLighter: #ffd8de,                                       //颜色：错误轻
                colorErrorDeep: #A60000,                                        //颜色：错误重

                colorInfo: #dcdfe4,                                             //颜色：提示
                colorInfoLight: #e7eaef,                                        //颜色：提示轻
                colorInfoLighter: #f1f4f9,                                        //颜色：提示轻
                colorInfoDeep: #76777a,                                         //颜色：提示重
                colorDisabled: #d2d2d2,                                         //颜色：禁用
                colorDisabledLight: #f2f2f2,                                    //颜色：禁用轻
                colorDisabledLighter: white,                                    //颜色：禁用轻
                colorDisabledDeep: #929292,                                     //颜色：禁用重

                backgroundColor:rgba(255, 255, 255, .125),                      //背景色
                backgroundColorLight:rgba(0,0,0,.06),                           //背景色亮
                backgroundColorLighter:rgba(0,0,0,.025),                        //背景色亮
                backgroundColorDeeper:rgba(255,255,255, .1),                    //背景色暗
                backgroundColorActive:rgba(0, 0, 0, .3),                        //背景色激活

                fontFamily: 'Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif',
                colorTitle:black,                                               //标题颜色
                colorSubTitle:#606060,                                          //标题颜色
                colorContent:#888,                                              //文字色
                colorContentSub:#aaa,                                           //文字色
                colorBorder:#e4e7ed,                                            //文字色

                boxShadow:0 2px 12px 0 rgba(0, 0, 0, .1),                       //阴影

                paddingLarge:20px,                                              //大边距
                padding:16px,                                                   //默认边距
                paddingSmall:8px,                                               //小边距

                borderFillet:2px,                                               //小圆角
                borderRound:100vw,                                              //圆
                borderNone:0,                                                   //无圆角

                fontLarge:16px,                                                 //字号：大
                font:14px,                                                      //字号：默认
                fontSmall:12px,                                                 //字号：小

                sizeLarge:36px,                                                 //大小：大
                sizeDefault:28px,                                               //大小：默认
                sizeSmall:22px,                                                 //大小：小

                iconSize:1.25em,                                                 //图标大小
);
/*@formatter:on*/