@include theme {
  .pl-tab-header {
    &.pl-tab-header-type-text {
      height: 40px;
      position: relative;

      $borderSize: 2px;

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        background-color: $disabled;
        height: $borderSize;
        border-radius: 100px;
      }

      &.pl-tab-header-position-top {
        &:before {
          bottom: 0;
        }

        .pl-tab-header-item {
          &:after {
            bottom: 0;
          }
        }
      }

      &.pl-tab-header-position-bottom {
        &:before {
          top: 0;
        }

        .pl-tab-header-item {
          &:after {
            top: 0;
          }
        }
      }

      .pl-tab-header-item-list {
        height: 100%;
        white-space: nowrap;

        .pl-tab-header-item {
          height: 100%;
          display: inline-flex;
          align-items: center;
          letter-spacing: 1px;
          font-size: 12px;
          color: $disabledText;
          position: relative;
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 36px;
          }

          &, &:after {
            @include transition;
          }

          &:after {
            position: absolute;
            left: 50%;
            right: 50%;
            background-color: transparent;
            height: $borderSize;
            content: '';
            border-radius: 100px;
          }

          &:hover {
            color: $colorPrimary;
          }

          &.pl-tab-header-item-active {
            color: $colorPrimary;

            &:after {
              left: 0;
              right: 0;
              background-color: $colorPrimary;
            }
          }
        }
      }
    }

    &.pl-tab-header-type-card {
      $borderSize: 2px;
      $height: 40px;
      $active: $colorPrimaryLight;
      $inactive: $disabled;

      height: $height;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        height: $borderSize;
        background-color: $inactive;
        content: '';
      }

      .pl-tab-header-item-list {
        height: 100%;
        white-space: nowrap;

        .pl-tab-header-item {
          height: 100%;
          letter-spacing: 1px;
          font-size: 12px;
          color: $disabledText;
          cursor: pointer;
          display: inline-block;
          position: relative;
          margin-right: 6px;

          .pl-tab-header-item-content {
            background-color: $inactive;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            min-width: 60px;
          }

          &:first-child {
            .pl-tab-header-item-content {
              padding-left: $height/2;
            }
          }

          &:before, &:after {
            display: inline-block;
            content: '';
            width: 0;
            height: 0;
            border: solid $height/2 transparent;
          }

          &:before {
            position: absolute;
            right: 100%;
          }

          &.pl-tab-header-item-active {
            .pl-tab-header-item-content {
              color: $colorPrimary;
              background-color: $active;
            }
          }

          .pl-tab-header-item-content, &:before, &:after {
            @include transition;
          }

          &:hover {
            color: $colorPrimary;
          }
        }
      }

      &.pl-tab-header-position-top {
        &:before {
          bottom: 0;
        }

        .pl-tab-header-item {
          &:before {
            border-top-color: $inactive;
            border-right-color: $inactive;
          }

          &:after {
            border-left-color: $inactive;
            border-bottom-color: $inactive;
          }

          &.pl-tab-header-item-active {
            &:before {
              border-top-color: $active;
              border-right-color: $active;
            }

            &:after {
              border-left-color: $active;
              border-bottom-color: $active;
            }
          }
        }
      }

      &.pl-tab-header-position-bottom {
        &:before {
          top: 0;
        }

        .pl-tab-header-item {
          &:before {
            border-bottom-color: $inactive;
            border-right-color: $inactive;
          }

          &:after {
            border-left-color: $inactive;
            border-top-color: $inactive;
          }

          &.pl-tab-header-item-active {
            &:before {
              border-bottom-color: $active;
              border-right-color: $active;
            }

            &:after {
              border-left-color: $active;
              border-top-color: $active;
            }
          }
        }
      }
    }

    &.pl-tab-header-type-fillet {
      $borderSize: 2px;
      $height: 40px;
      $active: $colorPrimaryLight;
      $inactive: $disabled;

      height: $height;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        height: $borderSize;
        background-color: $inactive;
        content: '';
      }

      & > .pl-scroll {
      }


      .pl-tab-header-item-list {
        height: 100%;
        white-space: nowrap;

        .pl-tab-header-item {
          height: 100%;
          letter-spacing: 1px;
          font-size: 12px;
          color: $disabledText;
          cursor: pointer;
          display: inline-block;
          position: relative;
          overflow: visible;
          margin-right: 2px;

          .pl-tab-header-item-content {
            background-color: $inactive;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            min-width: 60px;
          }

          .pl-fillet-corner {
            color: $inactive;

            &:first-child {
              position: absolute;
              right: 100%;
            }
          }

          &:first-child {
            .pl-tab-header-item-content {
              padding-left: $height/2;
            }
          }

          &.pl-tab-header-item-active {

            .pl-tab-header-item-content {
              color: $colorPrimary;
              background-color: $active;
            }

            .pl-fillet-corner {
              color: $active;
            }
          }

          .pl-tab-header-item-content, .pl-fillet-corner {
            @include transition;
          }

          &:hover {
            color: $colorPrimary;
          }
        }
      }

      &.pl-tab-header-position-top {
        &:before {
          bottom: 0;
        }
      }

      &.pl-tab-header-position-bottom {
        &:before {
          top: 0;
        }
      }
    }
  }
}