@include theme {
    .pl-icon {

        display: inline-block;
        height: 1em;
        width: 1em;
        line-height: normal;

        &.el-svg-icon {
            vertical-align: -0.15em;

            path {
                fill: currentColor;
            }
        }

        @include statusMixin(icon) {
            color: $value;
        }

    }
}