@include theme {
    .pl-button-group {
        display: inline-block;
        vertical-align: baseline;
        box-sizing: border-box;
        font-size: 0;

        .pl-button {
            position: relative;

            &:focus {
                z-index: 1;
            }
        }

        &.pl-button-group-direction-horizontal {
            & > .pl-button {
                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    margin-right: -1px;
                    @include statusMixin(button) {
                        border-right-color: mix(white, $value, 50%);
                    }
                }

                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    margin-left: -1px;
                    @include statusMixin(button) {
                        border-left-color: mix(white, $value, 50%);
                    }
                }
            }

            &.pl-button-group-mode-text {
                & > .pl-button {

                    padding: 0 6px;
                    position: relative;

                    &:not(:last-child) {
                        border-right: none;

                        &:before {
                            position: absolute;
                            content: '';
                            background-color: $ibl;
                            right: 0;
                            top: 2px;
                            bottom: 2px;
                            width: 1px;
                        }
                    }

                    &:not(:first-child) {
                        border-left: none;
                    }
                }
            }
        }


        &.pl-button-group-direction-vertical {
            display: inline-flex;
            flex-direction: column;

            & > .pl-button {
                display: block;

                &:not(:last-child) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    margin-bottom: -1px;
                    @include statusMixin(button) {
                        border-bottom-color: mix(white, $value, 50%);
                    }
                }

                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    margin-top: -1px;
                    @include statusMixin(button) {
                        border-top-color: mix(white, $value, 50%);
                    }
                }

                &.pl-button-mode-text {
                    padding: 3px 0;
                    border-bottom: none;
                    border-top: none;

                    &:not(:first-child) {

                        &:before {
                            position: absolute;
                            content: '';
                            background-color: $ibl;
                            top: 1px;
                            left: 1px;
                            right: 1px;
                            height: 1px;
                        }
                    }

                }
            }
        }

    }
}