@include theme {
  .pl-radio {
    @include public-style;
    display: inline-block;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    .plain-click-node {
      display: inline-block;

      width: 1.1em;
      height: 1.1em;
      border-radius: 100px;
      vertical-align: -0.1em;

      .pl-radio-inner {
        transition: all 150ms linear;
        float: left;
      }

      & + .pl-radio-label {
        margin-left: 0.5em;
      }
    }

    .pl-radio-label {
      display: inline-block;
    }

    @include statusMixin(radio) {
      .plain-click-node {
        color: $ipc;

        &:after {
          border-color: $value;
        }
      }
      &.pl-radio-checked {
        .pl-radio-label {
          color: $value;
        }

        .pl-radio-inner {
          color: $value;
        }
      }
    }

    &.pl-radio-size-large {
      font-size: 16px;
    }

    &.pl-radio-size-normal {
      font-size: 14px;
    }

    &.pl-radio-size-mini {
      font-size: 12px;
    }

    &:focus {
      .pl-radio-label {
        text-decoration: underline;
      }
    }

    &.pl-radio-disabled {
      cursor: not-allowed;

      .pl-radio-label {
        color: $disabledText !important;
      }

      .pl-radio-inner {
        border-color: currentColor !important;
        background-color: $disabled !important;
        color: $disabledText !important;
      }
    }

  }

  .pl-radio-group {
    width: 100%;
  }
}