/*scale*/
.pl-transition-scale-entepl-active, .pl-transition-scale-leave-active {
  transform: scale(1);
}

.pl-transition-scale-enter, .pl-transition-scale-leave-to {
  transform: scale(0.75);
  opacity: 0;
}

/*scale-y*/
.pl-transition-scale-y-entepl-active, .pl-transition-scale-y-leave-active {
}

.pl-transition-scale-y-enter, .pl-transition-scale-y-leave-to {
  transform: scaleY(0);
  opacity: 0;
}

/*fade*/
.pl-transition-fade-entepl-active, .pl-transition-fade-leave-active {
  opacity: 1;
}

.pl-transition-fade-enter, .pl-transition-fade-leave-to {
  opacity: 0;
}